@media(max-width:500px){

.wrapper{
	padding-left: 16px;
	padding-right:16px;
}

.menu{
	display:none;
}

/* promo-page text content */
.promo-content{
	padding:200px 0px 150px;
	color:#fff;
	text-align:left;
	h1{
		font-size:24px;
		line-height:40px;
		letter-spacing:1px;
	}
	p{
		span{
			display:block;
			height:1px;
			visibility:hidden;
		}
	}
}
#services{
	.services-tab-desktop{
		display:none;
	}
	.services-tab-mobile{
		display:block;
		select{
			display:block;
			height:40px;
			width:100%;
		}
	}
}
.tab{
	ul, .website-types{
		list-style:none;
		>li{
			float:left;
			width:100%;
		}
	}
}
/* portfolio */
.portfolio-wrapper{

	.folio-column{
		width:100%;
		float:none;
		>div{
			padding: 16px 8px;
		}

	}
}

/* team */
.team{
	.member-card{
		width:50%;
		padding:8px;
	}
}
footer{
	.contact-wrapper{
		width:100%;
	}
}
}