.aligner {
  position: relative; }

.laptop {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 12px;
  max-width: 400px;
  height: 240px;
  margin: auto;
  background: #fff;
  position: relative;
  border: 5px #155b86 solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transform-origin: center bottom;
  transition: transform .5s linear; }
  .laptop.closed {
    transform: rotateX(90deg); }

@media (max-width: 425px) {
  .laptop {
    height: 200px; } }
@media (max-width: 380px) {
  .laptop {
    height: 180px; } }
.laptop-thingy {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 5px;
  bottom: -5px;
  background: #f66;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  z-index: 1; }

.laptop-base {
  content: '';
  display: block;
  position: absolute;
  width: 440px;
  height: 10px;
  bottom: -12px;
  background: #155b86;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

.laptop-base, .laptop-thingy {
  left: 50%;
  transform: translateX(-50%); }

#auto-text::-webkit-scrollbar-track {
  background-color: #efefef; }

#auto-text::-webkit-scrollbar {
  width: 12px;
  background-color: #ccc; }

#auto-text::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ccc; }

.comment {
  color: #857F6B;
  font-style: italic; }

.selector {
  color: #F78C6C; }

.key {
  color: #FF5370; }

.value {
  color: #945EB8; }

.content-writer {
  padding-top: 32px; }
  .content-writer .sheet {
    height: 300px;
    width: 200px;
    background-color: #fffff3;
    box-shadow: 8px 8px 16px #999;
    border-radius: 3px;
    position: relative; }
    .content-writer .sheet .lines {
      padding: 12px;
      padding-top: 32px; }
    .content-writer .sheet .lines > li {
      position: absolute;
      height: 5px;
      list-style: none;
      background-color: #8ae;
      /* &:nth-child(1){
      	width: 90%;
      	top:50px;
      }
      &:nth-child(2){
      	width: 80%;
      	top:70px;
      }
      &:nth-child(3){
      	width: 70%;
      	top:90px;
      }
      &:nth-child(4){
      	width: 85%;
      	top:110px;
      }
      &:nth-child(5){
      	width: 75%;
      	top:130px;
      }
      &:nth-child(6){
      	width: 75%;
      	top:150px;
      }
      &:nth-child(7){
      	width: 75%;
      	top:170px;
      }
      &:nth-child(8){
      	width: 75%;
      	top:190px;
      } */ }
      .content-writer .sheet .lines > li:nth-child(1) {
        width: 0%;
        top: 50px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(1).transition-begin {
          transition: width 1.8s 2s linear; }
      .content-writer .sheet .lines > li:nth-child(2) {
        width: 0%;
        top: 70px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(2).transition-begin {
          transition: width 1.8s 4s linear; }
      .content-writer .sheet .lines > li:nth-child(3) {
        width: 0%;
        top: 90px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(3).transition-begin {
          transition: width 1.8s 6s linear; }
      .content-writer .sheet .lines > li:nth-child(4) {
        width: 0%;
        top: 110px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(4).transition-begin {
          transition: width 1.8s 8s linear; }
      .content-writer .sheet .lines > li:nth-child(5) {
        width: 0%;
        top: 130px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(5).transition-begin {
          transition: width 1.8s 10s linear; }
      .content-writer .sheet .lines > li:nth-child(6) {
        width: 0%;
        top: 150px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(6).transition-begin {
          transition: width 1.8s 12s linear; }
      .content-writer .sheet .lines > li:nth-child(7) {
        width: 0%;
        top: 170px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(7).transition-begin {
          transition: width 1.8s 14s linear; }
      .content-writer .sheet .lines > li:nth-child(8) {
        width: 0%;
        top: 190px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(8).transition-begin {
          transition: width 1.8s 16s linear; }
      .content-writer .sheet .lines > li:nth-child(9) {
        width: 0%;
        top: 210px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(9).transition-begin {
          transition: width 1.8s 18s linear; }
      .content-writer .sheet .lines > li:nth-child(10) {
        width: 0%;
        top: 230px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(10).transition-begin {
          transition: width 1.8s 20s linear; }
      .content-writer .sheet .lines > li:nth-child(11) {
        width: 0%;
        top: 250px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(11).transition-begin {
          transition: width 1.8s 22s linear; }
      .content-writer .sheet .lines > li:nth-child(12) {
        width: 0%;
        top: 270px;
        transition: width .3s linear; }
        .content-writer .sheet .lines > li:nth-child(12).transition-begin {
          transition: width 1.8s 24s linear; }
      .content-writer .sheet .lines > li:nth-child(5).transition-begin {
        width: 50%; }
      .content-writer .sheet .lines > li.transition-begin {
        width: 85%; }
    .content-writer .sheet .pen {
      position: absolute;
      width: 32px;
      top: 20px;
      left: 9px;
      transform: skew(16deg, -11deg);
      animation-duration: 24s;
      animation-timing-function: linear;
      animation-delay: 2s; }
      .content-writer .sheet .pen.active {
        animation-name: move-pen; }

/* @keyframes move-pen {
 	@for $i from 0 through 10{
 		//{$i * 8.33%} {
 			left: 12px;
 			top: 16px + $i * 20px;
 		}
 		//{8.33% * $i + 8%} {
 			left: 180px;
 			top: 16px + $i * 20px;
 		} 
 	}
} */
@keyframes move-pen {
  0% {
    left: 12px;
    top: 16px; }
  8% {
    left: 180px;
    top: 16px; }
  8.33% {
    left: 12px;
    top: 36px; }
  16.33% {
    left: 180px;
    top: 36px; }
  16.66% {
    left: 12px;
    top: 56px; }
  24.66% {
    left: 180px;
    top: 56px; }
  24.99% {
    left: 12px;
    top: 76px; }
  32.99% {
    left: 180px;
    top: 76px; }
  33.32% {
    left: 12px;
    top: 96px; }
  41.32% {
    left: 110px;
    top: 96px; }
  41.65% {
    left: 12px;
    top: 116px; }
  49.65% {
    left: 180px;
    top: 116px; }
  49.98% {
    left: 12px;
    top: 136px; }
  57.98% {
    left: 180px;
    top: 136px; }
  58.31% {
    left: 12px;
    top: 156px; }
  66.31% {
    left: 180px;
    top: 156px; }
  66.64% {
    left: 12px;
    top: 176px; }
  74.64% {
    left: 180px;
    top: 176px; }
  74.97% {
    left: 12px;
    top: 196px; }
  82.97% {
    left: 180px;
    top: 196px; }
  83.3% {
    left: 12px;
    top: 216px; }
  91.3% {
    left: 180px;
    top: 216px; } }
.bulb-container {
  width: 200px;
  margin: 3em auto; }
  .bulb-container svg {
    width: 100%; }

.st0 {
  fill: #EFEFEF; }

.st1 {
  fill: none;
  stroke: #EFEFEF;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.st2 {
  fill: none;
  opacity: .5;
  stroke: #EFEFEF;
  stroke-width: 2;
  stroke-miterlimit: 10; }

/* $list : ('#one', '#two', '#three', '#four', '#five', '#six', '#seven');

@each $item in $list{
	//{$item} {
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
		-webkit-animation: line-glow 2s .2s * $i infinite;
		animation: line-glow 2s .2s infinite;
	}
} */
#one {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s .2s infinite;
  animation: line-glow 2s .2s infinite; }

#two {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s .4s infinite;
  animation: line-glow 2s .4s infinite; }

#three {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s .6s infinite;
  animation: line-glow 2s .6s infinite; }

#four {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s .8s infinite;
  animation: line-glow 2s .8s infinite; }

#five {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s 1s infinite;
  animation: line-glow 2s 1s infinite; }

#six {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s 1.2s infinite;
  animation: line-glow 2s 1.2s infinite; }

#seven {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 2s 1.4s infinite;
  animation: line-glow 2s 1.4s infinite; }

#bulb-body-fill {
  -webkit-animation: bulb-on 2s ease infinite;
  animation: bulb-on 2s ease infinite; }

@-webkit-keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; } }
@keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; } }
@-webkit-keyframes bulb-on {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes bulb-on {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=laptop.css.map */
