.services {
  background-color: #efefef;
  padding-bottom: 64px; }
  .services h1 {
    padding: 64px 0px 32px;
    font-weight: 600; }

.service-card {
  padding: 32px 16px;
  width: 100%; }
  .service-card .service-icon {
    font-size: 56px;
    padding: 32px 0px; }
  .service-card h2, .service-card p {
    padding: 8px 0px; }
  .service-card .s-card {
    background-color: #e1e1e1;
    padding: 24px;
    transition: box-shadow .3s ease-out, background-color .3s ease-out, transform .3s ease-out;
    position: relative;
    z-index: -1;
    cursor: pointer; }
    .service-card .s-card:hover {
      background-color: #fff;
      box-shadow: 0px 0px 24px #ccc;
      transform: scale(1.01); }
  .service-card .se-icon {
    display: inline-block;
    background: #14ABF4;
    padding: 16px;
    color: #fff;
    position: relative;
    margin: auto;
    border-radius: 3px;
    width: 100px;
    height: 100px; }
    .service-card .se-icon::after {
      border-radius: 3px;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      transform: rotate(10deg);
      background: #89D5F9;
      top: 0;
      left: 0;
      z-index: -1;
      animation-name: back-fro;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate; }
    .service-card .se-icon path, .service-card .se-icon rect, .service-card .se-icon polygon {
      fill: #fff;
      stroke: #fff; }
  .service-card .se-blue {
    background-color: #14ABF4; }
    .service-card .se-blue::after {
      background-color: #89D5F9; }
  .service-card .se-red {
    background-color: #c73e28; }
    .service-card .se-red::after {
      background-color: #e28272; }
  .service-card .se-pink {
    background-color: #d52e7e; }
    .service-card .se-pink::after {
      background-color: #e272a8; }
  .service-card .se-green {
    background-color: #81DA34; }
    .service-card .se-green::after {
      background-color: #C0EC99; }
  .service-card.full .slide-text-left span {
    transition: transform .3s .5s ease-out;
    transform: translateX(0%); }
  .service-card .slide-text-left {
    overflow: hidden; }
  .service-card .slide-text-left span {
    transform: translateX(-100%);
    display: inline-block; }

@keyframes back-fro {
  0% {
    transform: rotate(35deg); }
  100% {
    transform: rotate(55deg); } }
.full-screen {
  min-height: 100vh; }

footer {
  padding: 32px 0px 0px; }
  footer img {
    width: 150px;
    margin: 16px 0px;
    display: block; }
  footer .site-links {
    margin: 32px 0px; }
    footer .site-links a {
      color: #000;
      text-transform: uppercase;
      transition: color .3s ease-out;
      display: inline-block;
      padding: 8px 16px;
      font-weight: bold; }
      footer .site-links a:hover {
        color: #777;
        text-decoration: none; }
  footer .social-icons a {
    color: #ccc;
    font-size: 24px;
    display: inline-block;
    padding: 8px 16px;
    transition: color .3s ease-out; }
    footer .social-icons a:hover {
      color: #000; }
  footer .copyright {
    padding: 16px 0px;
    border-top: 1px solid #ccc;
    text-align: center; }

/*# sourceMappingURL=services.css.map */
