.slide-holder {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .slide-holder .slide-buttons {
    position: absolute;
    z-index: 30;
    width: 100%;
    text-align: center;
    bottom: 32px; }
    .slide-holder .slide-buttons .slide-toggle-button {
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: #121212;
      margin: 0px 16px;
      cursor: pointer;
      transition: .3s ease-in-out; }
      .slide-holder .slide-buttons .slide-toggle-button.active {
        width: 100px; }

.slide {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0s 1s linear; }
  .slide.active {
    z-index: 2;
    transition: transform .5s .5s  ease-in-out; }
    .slide.active .slide-text {
      transform: translateX(0%);
      transition: transform .5s 1s  ease-in-out; }
    .slide.active .slide-image {
      transform: translateX(0%);
      transition: transform .5s 1s  ease-in-out; }
    .slide.active h1 span._slide-left:after, .slide.active p span._slide-left:after {
      animation-name: slide; }
    .slide.active h1 span.slide-left, .slide.active p span.slide-left {
      transform: translateY(0%);
      transition: transform 0s 1.2s ease-out; }
    .slide.active .slide-button {
      opacity: 1;
      transition: opacity .5s 1.4s linear; }
    .slide.active .graph {
      transition: transform .3s 1s linear;
      transform: translateY(0%); }
      .slide.active .graph img {
        animation: updown;
        animation-direction: alternate;
        animation-duration: 5s;
        animation-iteration-count: infinite; }
  .slide .align-self-center {
    width: 100%; }
  .slide h1 span, .slide p span {
    display: inline-block;
    position: relative;
    overflow: hidden; }
  .slide .slide-text, .slide .slide-image {
    position: absolute;
    height: 100%;
    padding-left: 32px; }
  .slide .d-flex {
    height: 100%; }
  .slide .slide-text {
    z-index: 3;
    transform: translateX(-100%);
    transition: transform .5s .5s ease-in-out; }
  .slide .slide-image {
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    transition: transform .5s .5s ease-in-out;
    overflow: hidden;
    padding: 0; }
    .slide .slide-image img {
      max-width: 100%;
      max-height: 400px;
      margin: auto;
      display: block; }
  .slide .slide-overlay {
    position: absolute;
    z-index: 2;
    height: 100%;
    left: 0;
    top: 0; }
  .slide h1 span.slide-left, .slide p span.slide-left {
    transform: translateY(100%);
    transition: transform .4s .1s ease-out; }
  .slide span._slide-left:after {
    background: #212121;
    width: 100%;
    position: absolute;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    transform: translateX(-102%);
    animation-duration: .8s;
    animation-delay: 1s; }
  .slide .slide-button {
    opacity: 0;
    transition: opacity .3s linear; }
  .slide .btn {
    z-index: 2; }
    .slide .btn:hover::after {
      background-color: #000; }
  .slide .graph {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    padding: 0;
    transform: translateY(101%); }
    .slide .graph img {
      width: 100%; }

.floating-img .graph {
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100%;
  padding: 0;
  transform: translateY(101%); }
  .floating-img .graph img {
    width: 100%; }

.floating-img .graph {
  transition: transform .3s 1s linear;
  transform: translateY(0%); }
  .floating-img .graph img {
    animation: updown;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite; }

@keyframes slide {
  0% {
    transform: translateX(-100%); }
  40% {
    transform: translateX(0%); }
  60% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }
@keyframes updown {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(6%); } }
.text-fade-up {
  overflow: hidden; }
  .text-fade-up > span {
    display: block;
    transform: translateY(-100%);
    transition: inherit; }

.continuous-switch {
  padding: 0;
  margin: 0;
  transform: translate(0px, 12px);
  overflow: hidden;
  position: relative;
  height: 50px !important;
  width: 100px !important; }

.continuous-switch > span {
  position: absolute !important;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: front-n-back; }

.continuous-switch span:nth-child(1) {
  color: red; }

.continuous-switch span:nth-child(2) {
  color: blue;
  animation-delay: 3s; }

@keyframes front-n-back {
  0% {
    transform: translateX(0%); }
  40% {
    transform: translateX(0%); }
  60% {
    transform: translateX(-110%); }
  100% {
    transform: translateX(-110%); } }

/*# sourceMappingURL=slider.css.map */
