body {
  overflow-x: hidden; }

#services {
  margin-bottom: -10px; }
  #services .services-tab__desktop {
    display: inline-table;
    width: 100%;
    background: #4ae; }
    #services .services-tab__desktop div {
      width: 20%;
      float: left;
      cursor: pointer; }
      #services .services-tab__desktop div span {
        display: block;
        line-height: 100px;
        width: 100%;
        text-align: center; }
    #services .services-tab__desktop .active {
      background: #fff;
      color: #2ae; }
  #services .services-tab__mobile {
    display: none; }

.tabs-wrapper {
  position: relative;
  min-height: calc(100vh);
  width: 100%;
  background: #fff;
  padding: 100px 0px;
  overflow: hidden; }
  .tabs-wrapper .tabs-holder {
    display: inline-table;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .tabs-wrapper .tab {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    float: left; }
    .tabs-wrapper .tab h1 {
      font-size: 24px;
      text-align: center; }
    .tabs-wrapper .tab h4 {
      font-size: 14px;
      text-align: center; }
    .tabs-wrapper .tab .tab-content-wrapper {
      width: 50%;
      margin: auto; }

/* for portfolio */
.portfolio {
  background: #333; }

.portfolio-wrapper {
  display: inline-table; }
  .portfolio-wrapper .folio-column {
    width: 25%;
    float: left; }
    .portfolio-wrapper .folio-column > div {
      padding: 16px 12px;
      overflow: hidden; }
      .portfolio-wrapper .folio-column > div h4 {
        text-align: center;
        color: #fff;
        font-weight: lighter;
        line-height: 40px; }
      .portfolio-wrapper .folio-column > div img {
        width: 100%;
        box-shadow: 0px 0px 10px #000;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        cursor: pointer; }
      .portfolio-wrapper .folio-column > div img:hover {
        -webkit-transform: scale(1.2); }

.team {
  background: #4CD6BC;
  display: inline-table;
  width: 100%;
  margin-bottom: -10px; }
  .team .member-card {
    min-height: 250px;
    width: 20%;
    padding: 32px 16px;
    float: left; }
    .team .member-card div {
      background: rgba(255, 255, 255, 0.3);
      min-height: 200px;
      width: 100%; }

.testimonials {
  background: #fff;
  padding: 80px 0px;
  position: relative; }
  .testimonials .forward-arrow, .testimonials .backward-arrow {
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: calc(50% - 25px);
    cursor: pointer; }
    .testimonials .forward-arrow svg path, .testimonials .backward-arrow svg path {
      fill: #888; }
  .testimonials .forward-arrow {
    right: 10px; }
  .testimonials .backward-arrow {
    left: 10px; }

.testimonials-wrapper {
  text-align: center;
  overflow: hidden; }
  .testimonials-wrapper .t__holder {
    position: relative;
    display: inline-table;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .testimonials-wrapper .t__holder .t {
      background: #fff;
      width: 100%;
      margin: auto;
      color: #444;
      float: left;
      visibilty: hidden; }
      .testimonials-wrapper .t__holder .t img {
        height: 100px;
        width: 100px;
        border-radius: 100%; }
      .testimonials-wrapper .t__holder .t * {
        width: 50%;
        margin: auto; }
      .testimonials-wrapper .t__holder .t h3 {
        font-weight: lighter; }
    .testimonials-wrapper .t__holder .visible {
      visibilty: visible; }

/*# sourceMappingURL=body.css.map */
