.menu-visible .side-nav {
  -webkit-trasnform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }
.menu-visible .toggler ul li:nth-child(1) {
  -webkit-transform-origin: 10%  40%;
  -webkit-trasnform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
.menu-visible .toggler ul li:nth-child(2) {
  opacity: 0; }
.menu-visible .toggler ul li:nth-child(3) {
  -webkit-transform-origin: 10%  40%;
  -webkit-trasnform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.side-nav {
  position: fixed;
 
  height: 100%; height: calc(100vh);
  width: 200px;
  z-index: 99;
  display: table;
  background: #fff;
  right: 0;
  box-shadow: 0px 0px 10px #ccc;
  -webkit-trasnform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.side-nav ul {
  padding-top: 100px; }
.side-nav ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 4px;
  text-align: center; }

.toggler {
  cursor: pointer;
  position: absolute;
  display: table;
  vertical-align: middle;
  background: #fff;
  height: 80px;
  width: 80px;
  padding: 8px;
  top: calc(50% - 50px);
  box-shadow: -2px 2px 3px #ccc;
  -webkit-trasnform: matrix3d(0.71, 0.71, 0, 0, -0.71, 0.71, 0, 0, 0, 0, 1, 0, -40, 0, 0, 1);
  -moz-transform: matrix3d(0.71, 0.71, 0, 0, -0.71, 0.71, 0, 0, 0, 0, 1, 0, -40, 0, 0, 1);
  -ms-transform: matrix3d(0.71, 0.71, 0, 0, -0.71, 0.71, 0, 0, 0, 0, 1, 0, -40, 0, 0, 1);
  transform: matrix3d(0.71, 0.71, 0, 0, -0.71, 0.71, 0, 0, 0, 0, 1, 0, -40, 0, 0, 1); }
.toggler ul {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  -webkit-trasnform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: auto; }
.toggler ul li {
  display: block;
  height: 3px;
  margin: 3px;
  width: 20px;
  background: #000;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear; }

#services .services-tab-desktop {
  display: inline-table;
  width: 100%;
  background: #4ae; }
#services .services-tab-desktop div {
  width: 20%;
  float: left;
  cursor: pointer;
  display: table;
  height: 100px;
  padding: 16px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear; }
#services .services-tab-desktop div span {
  display: block;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center; }
#services .services-tab-desktop div:hover {
  background: #fff;
  color: #2ae; }
#services .services-tab-desktop .active {
  background: #fff;
  color: #2ae; }
#services .services-tab-mobile {
  display: none; }

#tabs-wrapper {
  padding: 50px 0px; }
#tabs-wrapper .tab {
  display: none; }
#tabs-wrapper .tab ul {
  display: inline-table;
  width: 100%; }
#tabs-wrapper .tab.visible-block {
  display: block; }
#tabs-wrapper h1 {
  line-height: 40px;
  padding-bottom: 10px;
  max-width: 900px; }
#tabs-wrapper h4 {
  line-height: 30px;
  padding-bottom: 50px;
  max-width: 900px;
  color: #aaa; }

/* tab 1*/
div.ex-img {
  height: 220px;
  display: block; }
div.ex-img img {
  display: block;
  margin: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  cursor: pointer; }
div.ex-img img:hover {
  -webkit-filter: none;
  filter: none; }

.website-types {
  display: inline-table;
  list-style: none;
  width: 100%; }
.website-types > li {
  float: left;
  margin-top: 50px;
  width: 25%; }
.website-types p {
  text-align: center;
  padding: 70px 0px;
  line-height: 50px; }

.responsive-benefits {
  display: inline-block;
  width: 100%; }
.responsive-benefits > li {
  width: 50%;
  float: left;
  position: relative;
  min-height: 240px;
  margin-bottom: 60px;
  border-left: 1px solid #ccc; }
.responsive-benefits > li p {
  padding: 16px 0px;
  text-align: left; }

/* Each content of tab design */
.reason-img {
  max-height: 80px;
  max-width: 80px;
  background-color: #2ae;
  background-position: 50%;
  background-repeat: no-repeat;
  float: left; }

.reason-img + div {
  max-width: 350px;
  margin-left: 110px;
  padding-right: 16px; }

/* End of tab-2 design */
/* tab-3 design */
.graphics > li {
  padding: 16px 0px;
  width: 33.33%;
  float: left; }
.graphics > li p {
  padding-top: 16px;
  padding: 0px 16px;
  width: 68%;
  min-height: 110px; }
.graphics > li > * {
  float: left; }

.graphics-tools {
  height: 80px;
  width: 80px;
  background-color: #2ae;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block; }

/* End of tab -3 design */
/* Portfolio*/
.portfolio {
  background: #333; }

.portfolio-wrapper {
  display: inline-table;
  width: 100%; }
.portfolio-wrapper .folio-column {
  width: 25%;
  float: left; }
.portfolio-wrapper .folio-column > div {
  padding: 16px 16px; }
.portfolio-wrapper .folio-column > div h4 {
  text-align: center;
  color: #fff;
  font-weight: lighter;
  line-height: 40px; }
.portfolio-wrapper .folio-column > div img {
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
.portfolio-wrapper .folio-column > div img:hover {
  -webkit-trasnform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }
.portfolio-wrapper .folio-column > div div {
  overflow: hidden;
  box-shadow: 0px 0px 10px #000; }

/* About us wrapper*/
.about {
  padding-top: 80px;
  padding-bottom: 80px; }
.about h1, .about h3 {
  text-align: center;
  line-height: 2em; }
.about h1 {
  font-size: 32px; }
.about > div {
  position: relative; }

.why-us-reasons > ul {
  display: inline-table;
  width: 100%; }
.why-us-reasons > ul > li {
  width: 50%;
  padding: 32px 16px;
  float: left; }
.why-us-reasons > ul > li ul {
  padding: 8px; }
.why-us-reasons > ul img {
  width: 100%; }

.team {
  display: inline-table;
  width: 100%;
  color: #fff;
  background: #444; }
.team .member-card {
  width: 20%;
  padding: 32px 16px;
  float: left; }
.team .member-card div {
  width: 100%;
  position: relative; }
.team .member-card div img {
  width: 100%; }
.team .member-card div .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(233, 128, 103, 0.9);
  z-index: 2;
  top: 0;
  color: #fff;
  text-align: center; }

.others-think {
  padding: 50px 16px; }
.others-think h1 {
  line-height: 50px; }
.others-think h4 {
  padding-bottom: 40px; }
.others-think ul {
  display: inline-table;
  width: 100%; }
.others-think ul li {
  float: left;
  padding: 32px 8px;
  width: 33.333%; }

/*# sourceMappingURL=body.css.map */
