*{
	margin:0;
	padding:0;
	line-height: 1.7;
	font-family: 'Lato', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition:all; .3s ease-out;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

ul{
	list-style:none;
}
.wrapper{
	padding-left:64px;
	padding-right:64px;
}

.button{
	text-decoration:none;
	padding:4px 16px;
	display:inline-block;
	text-align:center;
	position:relative;
	cursor:pointer;
	z-index:2;
	border:1px solid #000;
	border-radius:3px;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.button::after{
	content:'';
	height:100%;
	width:0%;
	z-index:-1;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.button-white{
	color:#fff;
	border:1px solid rgba(255, 255, 255, .4);
}

.button-white::after{
	background:#fff;
}
.button-white:hover{
	color:#000;
}
.button-white:hover::after{
	width:100%;
}
.button-black{
	color:#000;
	border:1px solid rgba(0, 0, 0 , .4);
}
.button-black::after{
	background:#000;
}
.button-black:hover{
	color:#fff;
}
.button-black:hover::after{
	width:100%;
}
.animate{
	visibility: hidden;;
}

.visible{
	visibility: visible;
}

.fade-in-right{
	animation-name: a;
	animation-duration: 2s;
}
@keyframes a{
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(100%,0,0);
	    transform: translate3d(100%,0,0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}
.fade-in{
	animation-name:b;
	animation-duration: 2s;
}
@keyframes b{
	0% {
    	opacity: 0;
    	-webkit-transform: translate3d(0,100%,0);
    	transform: translate3d(0,100%,0);
	}
	100% {
    	opacity: 1;
	    -webkit-transform: none;
    	transform: none;
	}
}

.flipX{
	animation-name: c;
	animation-duration: 2s;
	visibility: visible;
}
@keyframes c{
	0% {
		opacity: 0;
		-webkit-transform: rotateX(90deg);
	}
	100% {
		-webkit-transform:rotateX(0deg);
		opacity: 1;
	}
}

.logo-svg > #red{
	fill:#ae2b33;
}
.logo-svg > #grey{
	fill:#444;
}

.animate-right{
	animation-name: d;
	animation-duration: 2s;
}
@keyframes d{
	0% {
    	opacity: 0;
    	-webkit-transform: translate3d(100%, 0,0);
    	transform: translate3d(100%,0,0);
	}
	100% {
    	opacity: 1;
	    -webkit-transform: none;
    	transform: none;
	}
}
.animate-left{
	animation-name: e;
	animation-duration: 2s;
}
@keyframes e{
	0% {
    	opacity: 0;
    	-webkit-transform: translate3d(-100%, 0,0);
    	transform: translate3d(-100%,0,0);
	}
	100% {
    	opacity: 1;
	    -webkit-transform: none;
    	transform: none;
	}
}