/** Bit of cheating to make everything smooth on screen*/
body{
  overflow:hidden;
}
ul, ol{
  padding:0;
  margin:0;
  list-style: none;
}
ul.menu{
  display: none;
}
ul.follow{
  height:100px;
}
div.content div{
  display: none;
  padding:20px;
}
ul.follow>li{
  float:left;
  width:20%;
}
ul.follow>li:first-child{
  width:50%;
}
@media(min-width:600px){
    ul.follow>li{
    float:left;
    width:15%;
  }
  ul.follow>li:first-child{
    width:40%;
  }
}
@media(min-width:850px){
    ul.follow>li{
    float:left;
    width:12%;
  }
  ul.follow>li:first-child{
    width:30%;
  }
}
span#skip{
   cursor:pointer
}
