header {
  position: fixed !important;
  height: 56px;
  z-index: 99;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  padding-top: 6px;
  transition: background-color .5s 1.5s linear; }
  header img {
    max-width: 100%;
    max-height: 50px; }
  header .menu {
    text-align: right; }
  header #menu-toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 12px; }
  header .burger {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 24px;
    background-color: #fff;
    top: -6px;
    transition: background-color .3s .6s linear; }
    header .burger::after, header .burger::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: #fff;
      transform-origin: 0% 50%;
      transition: transform .3s .6s linear, background-color .3s .6s linear; }
    header .burger:before {
      top: -8px; }
    header .burger::after {
      top: 8px; }

.nav {
  display: inline-block;
  padding: 0; }
  .nav li {
    padding: 16px;
    margin-top: 8px;
    list-style: none;
    position: relative;
    overflow: hidden; }
    .nav li:nth-child(1) a {
      transition: transform 0.3s 0.1s ease-out, opacity 0.3s 0.1s ease-out, color 0.3s linear; }
    .nav li:nth-child(2) a {
      transition: transform 0.3s 0.2s ease-out, opacity 0.3s 0.2s ease-out, color 0.3s linear; }
    .nav li:nth-child(3) a {
      transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s ease-out, color 0.3s linear; }
    .nav li:nth-child(4) a {
      transition: transform 0.3s 0.4s ease-out, opacity 0.3s 0.4s ease-out, color 0.3s linear; }
    .nav li:nth-child(5) a {
      transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s ease-out, color 0.3s linear; }
    .nav li:nth-child(6) a {
      transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s ease-out, color 0.3s linear; }
  .nav a {
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    font-size: 32px;
    transform: translateY(120%); }
    .nav a:hover {
      color: #666;
      text-decoration: none; }

header.active {
  background-color: #fff;
  transition: background-color .5s linear; }
  header.active .nav li:nth-child(1) a {
    opacity: 1;
    transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s linear, color 0.3s linear;
    transform: translateY(0%); }
  header.active .nav li:nth-child(2) a {
    opacity: 1;
    transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s linear, color 0.3s linear;
    transform: translateY(0%); }
  header.active .nav li:nth-child(3) a {
    opacity: 1;
    transition: transform 0.3s 0.7s ease-out, opacity 0.3s 0.7s linear, color 0.3s linear;
    transform: translateY(0%); }
  header.active .nav li:nth-child(4) a {
    opacity: 1;
    transition: transform 0.3s 0.8s ease-out, opacity 0.3s 0.8s linear, color 0.3s linear;
    transform: translateY(0%); }
  header.active .nav li:nth-child(5) a {
    opacity: 1;
    transition: transform 0.3s 0.9s ease-out, opacity 0.3s 0.9s linear, color 0.3s linear;
    transform: translateY(0%); }
  header.active .nav li:nth-child(6) a {
    opacity: 1;
    transition: transform 0.3s 1s ease-out, opacity 0.3s 1s linear, color 0.3s linear;
    transform: translateY(0%); }
  header.active .burger {
    background-color: transparent;
    transition: background-color .3s linear; }
    header.active .burger::after, header.active .burger::before {
      transition: transform .5s linear, background-color .5s linear;
      background-color: #000; }
    header.active .burger::after {
      transform: rotate(-45deg); }
    header.active .burger::before {
      transform: rotate(45deg); }
  header.active .site-nav-holder {
    visibility: visible;
    transition: visibility 0s linear; }
    header.active .site-nav-holder .site-nav-content::after {
      height: 100%;
      transition: height .5s ease-out; }
    header.active .site-nav-holder .site-nav-extra::after {
      height: 100%;
      transition: height .5s ease-out; }

.site-nav-holder {
  position: fixed;
  z-index: 99;
  visibility: hidden;
  top: 56px;
  width: 100%;
  transition: background-color .5s 1s linear, visibility 0s 1.5s linear;
  height: 100%; }
  .site-nav-holder .site-nav-content {
    position: relative;
    z-index: 99; }
    .site-nav-holder .site-nav-content::after {
      content: '';
      height: 0%;
      width: 100%;
      z-index: -1;
      bottom: 0;
      left: 0;
      position: absolute;
      transition: height .5s 1s linear;
      background-color: #fff; }
  .site-nav-holder .site-nav-extra {
    position: relative;
    z-index: 99; }
    .site-nav-holder .site-nav-extra::after {
      content: '';
      height: 0%;
      width: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      position: absolute;
      transition: height .5s 1s linear;
      background-color: #fff; }
  .site-nav-holder .site-nav-slide-holder {
    display: block;
    width: 70%;
    position: relative;
    height: 400px;
    top: -25px;
    overflow: hidden; }
  .site-nav-holder .site-nav-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(-100%);
    transition: transform .3s linear; }
    .site-nav-holder .site-nav-slide.active {
      transform: translateX(0%); }
      .site-nav-holder .site-nav-slide.active .content {
        opacity: 1;
        transition: opacity .3s .3s linear; }
    .site-nav-holder .site-nav-slide .content {
      opacity: 0;
      transition: opacity .3s linear;
      color: #fff;
      padding-top: 100px; }
      .site-nav-holder .site-nav-slide .content h2 {
        font-weight: normal;
        padding: 16px;
        text-align: center; }
    .site-nav-holder .site-nav-slide:nth-child(1) {
      background-color: #f046a1; }
    .site-nav-holder .site-nav-slide:nth-child(2) {
      background-color: #ba33ef; }
    .site-nav-holder .site-nav-slide:nth-child(3) {
      background-color: #3ca6f0; }
    .site-nav-holder .site-nav-slide:nth-child(4) {
      background-color: #3cf0ad; }
    .site-nav-holder .site-nav-slide:nth-child(5) {
      background-color: #f0913c; }
    .site-nav-holder .site-nav-slide:nth-child(6) {
      background-color: #2ae; }

/* .side-nav {
	position: fixed;
	z-index: 100;
	right: 0;
	max-width: 400px;
	width: 100%;
	height: 100%;
	top: 56px;
	background: #2ae;
	box-shadow: 0px 0px 16px #000;
	ul {
		list-style: none;
		padding: 0;
		>li {
			padding: 8px 0px 8px 32px;
		}
		a {
			color: #fff;
			transition: color .3s linear;
			&:hover {
				color: #ccc;
				text-decoration: none;
			}
		}
	}
} */
.full-screen {
  height: 100vh; }

.slide-container, body {
  overflow: hidden;
  position: relative; }

.slide {
  height: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 16px #999; }
  .slide .align-self-center {
    width: 100%; }
  .slide.active.fade-up {
    z-index: 2;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .slide.active.fade-down {
    z-index: 2;
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .slide.active[data-index-slide="0"] h1 img {
    transform: translate(0px, 0px) scale(1); }
  .slide.slide-out.fade-up {
    z-index: 1;
    animation-name: slide-up-then-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .slide.slide-out.fade-down {
    z-index: 1;
    animation-name: slide-down-slowly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .slide:nth-child(1) {
    background-color: #fff; }
    .slide:nth-child(1) .text-holder {
      width: 100%;
      position: absolute; }
    .slide:nth-child(1) h1, .slide:nth-child(1) p {
      font-weight: normal;
      text-align: center; }
  .slide:nth-child(2) {
    background-color: #ba33ef; }
  .slide:nth-child(3) {
    background-color: #3ca6f0; }
  .slide:nth-child(4) {
    background-color: #3cf0ad; }
  .slide:nth-child(5) {
    background-color: #f0913c; }
  .slide .d-flex {
    height: 100%; }
  .slide h1 {
    text-align: center;
    font-weight: normal;
    width: 100%;
    font-size: 40px;
    text-transform: uppercase; }

.slide-toggle-button {
  position: fixed;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 98; }
  .slide-toggle-button span {
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 32px 0px;
    background-color: #212121;
    transition: height .3s linear; }
    .slide-toggle-button span.active {
      height: 100px; }

@keyframes slide-up-then-down {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-40%); }
  100% {
    transform: translateY(100%); } }
@keyframes slide-down-slowly {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(40%); }
  100% {
    transform: translateY(100%); } }
@keyframes slide-up {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@keyframes slide-down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@media (max-width: 800px) {
  .slide h1 {
    font-size: 18px; } }
#animation-background {
  position: absolute; }

.slide[data-index-slide="0"] h1 img {
  max-width: 900px;
  width: 80%;
  transition: transform .1s linear;
  transform: translate(-419px, -264px) scale(0.2); }

@media (max-width: 568px) {
  .nav li {
    padding: 16px 0px; }
  .nav a {
    font-size: 16px; } }

/*# sourceMappingURL=all.css.map */
