header {
  position: fixed !important;
  height: 56px;
  z-index: 99;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  padding-top: 6px;
  -webkit-transition: background-color 0.5s 1.5s linear;
  -moz-transition: background-color 0.5s 1.5s linear;
  -ms-transition: background-color 0.5s 1.5s linear;
  -o-transition: background-color 0.5s 1.5s linear;
  transition: background-color 0.5s 1.5s linear; }
  header .logo-holder img {
    max-width: 100%;
    max-height: 50px; }
  header .logo-holder img.logo-white {
    display: block; }
  header .logo-holder img.logo-black {
    display: none; }
  header .menu {
    text-align: right; }
  header #menu-toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 12px; }
  header .burger {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 24px;
    background-color: #000;
    top: -6px;
    -webkit-transition: background-color 0.3s 0.6s linear;
    -moz-transition: background-color 0.3s 0.6s linear;
    -ms-transition: background-color 0.3s 0.6s linear;
    -o-transition: background-color 0.3s 0.6s linear;
    transition: background-color 0.3s 0.6s linear; }
    header .burger::after, header .burger::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: #000;
      transform-origin: 0% 50%;
      -webkit-transition: transform 0.3s 1.2s linear, background-color 0.3s 1.2s linear;
      -moz-transition: transform 0.3s 1.2s linear, background-color 0.3s 1.2s linear;
      -ms-transition: transform 0.3s 1.2s linear, background-color 0.3s 1.2s linear;
      -o-transition: transform 0.3s 1.2s linear, background-color 0.3s 1.2s linear;
      transition: transform 0.3s 1.2s linear, background-color 0.3s 1.2s linear; }
    header .burger:before {
      top: -8px; }
    header .burger::after {
      top: 8px; }

.nav {
  display: inline-block;
  padding: 0;
  margin-top: -90px; }
  .nav li {
    padding: 16px;
    list-style: none;
    position: relative;
    overflow: hidden; }
    .nav li:nth-child(1) a {
      -webkit-transition: transform 0.3s 0.1s ease-out, opacity 0.3s 0.1s ease-out, color 0.3s linear;
      -moz-transition: transform 0.3s 0.1s ease-out, opacity 0.3s 0.1s ease-out, color 0.3s linear;
      -ms-transition: transform 0.3s 0.1s ease-out, opacity 0.3s 0.1s ease-out, color 0.3s linear;
      -o-transition: transform 0.3s 0.1s ease-out, opacity 0.3s 0.1s ease-out, color 0.3s linear;
      transition: transform 0.3s 0.1s ease-out, opacity 0.3s 0.1s ease-out, color 0.3s linear; }
    .nav li:nth-child(2) a {
      -webkit-transition: transform 0.3s 0.2s ease-out, opacity 0.3s 0.2s ease-out, color 0.3s linear;
      -moz-transition: transform 0.3s 0.2s ease-out, opacity 0.3s 0.2s ease-out, color 0.3s linear;
      -ms-transition: transform 0.3s 0.2s ease-out, opacity 0.3s 0.2s ease-out, color 0.3s linear;
      -o-transition: transform 0.3s 0.2s ease-out, opacity 0.3s 0.2s ease-out, color 0.3s linear;
      transition: transform 0.3s 0.2s ease-out, opacity 0.3s 0.2s ease-out, color 0.3s linear; }
    .nav li:nth-child(3) a {
      -webkit-transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s ease-out, color 0.3s linear;
      -moz-transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s ease-out, color 0.3s linear;
      -ms-transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s ease-out, color 0.3s linear;
      -o-transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s ease-out, color 0.3s linear;
      transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s ease-out, color 0.3s linear; }
    .nav li:nth-child(4) a {
      -webkit-transition: transform 0.3s 0.4s ease-out, opacity 0.3s 0.4s ease-out, color 0.3s linear;
      -moz-transition: transform 0.3s 0.4s ease-out, opacity 0.3s 0.4s ease-out, color 0.3s linear;
      -ms-transition: transform 0.3s 0.4s ease-out, opacity 0.3s 0.4s ease-out, color 0.3s linear;
      -o-transition: transform 0.3s 0.4s ease-out, opacity 0.3s 0.4s ease-out, color 0.3s linear;
      transition: transform 0.3s 0.4s ease-out, opacity 0.3s 0.4s ease-out, color 0.3s linear; }
    .nav li:nth-child(5) a {
      -webkit-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s ease-out, color 0.3s linear;
      -moz-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s ease-out, color 0.3s linear;
      -ms-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s ease-out, color 0.3s linear;
      -o-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s ease-out, color 0.3s linear;
      transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s ease-out, color 0.3s linear; }
    .nav li:nth-child(6) a {
      -webkit-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s ease-out, color 0.3s linear;
      -moz-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s ease-out, color 0.3s linear;
      -ms-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s ease-out, color 0.3s linear;
      -o-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s ease-out, color 0.3s linear;
      transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s ease-out, color 0.3s linear; }
  .nav a {
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    font-size: 32px;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%); }
    .nav a:hover {
      color: #666;
      text-decoration: none; }

header.active {
  background-color: #fff;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear; }
  header.active .logo-holder img.logo-white {
    display: none; }
  header.active .logo-holder img.logo-black {
    display: block; }
  header.active .nav li:nth-child(1) a {
    opacity: 1;
    -webkit-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s linear, color 0.3s linear;
    -moz-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s linear, color 0.3s linear;
    -ms-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s linear, color 0.3s linear;
    -o-transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s linear, color 0.3s linear;
    transition: transform 0.3s 0.5s ease-out, opacity 0.3s 0.5s linear, color 0.3s linear;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.active .nav li:nth-child(2) a {
    opacity: 1;
    -webkit-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s linear, color 0.3s linear;
    -moz-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s linear, color 0.3s linear;
    -ms-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s linear, color 0.3s linear;
    -o-transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s linear, color 0.3s linear;
    transition: transform 0.3s 0.6s ease-out, opacity 0.3s 0.6s linear, color 0.3s linear;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.active .nav li:nth-child(3) a {
    opacity: 1;
    -webkit-transition: transform 0.3s 0.7s ease-out, opacity 0.3s 0.7s linear, color 0.3s linear;
    -moz-transition: transform 0.3s 0.7s ease-out, opacity 0.3s 0.7s linear, color 0.3s linear;
    -ms-transition: transform 0.3s 0.7s ease-out, opacity 0.3s 0.7s linear, color 0.3s linear;
    -o-transition: transform 0.3s 0.7s ease-out, opacity 0.3s 0.7s linear, color 0.3s linear;
    transition: transform 0.3s 0.7s ease-out, opacity 0.3s 0.7s linear, color 0.3s linear;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.active .nav li:nth-child(4) a {
    opacity: 1;
    -webkit-transition: transform 0.3s 0.8s ease-out, opacity 0.3s 0.8s linear, color 0.3s linear;
    -moz-transition: transform 0.3s 0.8s ease-out, opacity 0.3s 0.8s linear, color 0.3s linear;
    -ms-transition: transform 0.3s 0.8s ease-out, opacity 0.3s 0.8s linear, color 0.3s linear;
    -o-transition: transform 0.3s 0.8s ease-out, opacity 0.3s 0.8s linear, color 0.3s linear;
    transition: transform 0.3s 0.8s ease-out, opacity 0.3s 0.8s linear, color 0.3s linear;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.active .nav li:nth-child(5) a {
    opacity: 1;
    -webkit-transition: transform 0.3s 0.9s ease-out, opacity 0.3s 0.9s linear, color 0.3s linear;
    -moz-transition: transform 0.3s 0.9s ease-out, opacity 0.3s 0.9s linear, color 0.3s linear;
    -ms-transition: transform 0.3s 0.9s ease-out, opacity 0.3s 0.9s linear, color 0.3s linear;
    -o-transition: transform 0.3s 0.9s ease-out, opacity 0.3s 0.9s linear, color 0.3s linear;
    transition: transform 0.3s 0.9s ease-out, opacity 0.3s 0.9s linear, color 0.3s linear;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.active .nav li:nth-child(6) a {
    opacity: 1;
    -webkit-transition: transform 0.3s 1s ease-out, opacity 0.3s 1s linear, color 0.3s linear;
    -moz-transition: transform 0.3s 1s ease-out, opacity 0.3s 1s linear, color 0.3s linear;
    -ms-transition: transform 0.3s 1s ease-out, opacity 0.3s 1s linear, color 0.3s linear;
    -o-transition: transform 0.3s 1s ease-out, opacity 0.3s 1s linear, color 0.3s linear;
    transition: transform 0.3s 1s ease-out, opacity 0.3s 1s linear, color 0.3s linear;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.active .burger {
    background-color: #fff;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear; }
    header.active .burger::after, header.active .burger::before {
      -webkit-transition: transform 0.5s linear, background-color 0.5s linear;
      -moz-transition: transform 0.5s linear, background-color 0.5s linear;
      -ms-transition: transform 0.5s linear, background-color 0.5s linear;
      -o-transition: transform 0.5s linear, background-color 0.5s linear;
      transition: transform 0.5s linear, background-color 0.5s linear;
      background-color: #000; }
    header.active .burger::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    header.active .burger::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  header.active .site-nav-holder {
    visibility: visible;
    -webkit-transition: visibility 0s linear;
    -moz-transition: visibility 0s linear;
    -ms-transition: visibility 0s linear;
    -o-transition: visibility 0s linear;
    transition: visibility 0s linear; }
    header.active .site-nav-holder .site-nav-content::after {
      height: 100%;
      -webkit-transition: height 0.5s ease-out;
      -moz-transition: height 0.5s ease-out;
      -ms-transition: height 0.5s ease-out;
      -o-transition: height 0.5s ease-out;
      transition: height 0.5s ease-out; }
    header.active .site-nav-holder .site-nav-extra::after {
      height: 100%;
      -webkit-transition: height 0.5s ease-out;
      -moz-transition: height 0.5s ease-out;
      -ms-transition: height 0.5s ease-out;
      -o-transition: height 0.5s ease-out;
      transition: height 0.5s ease-out; }

.site-nav-holder {
  position: fixed;
  z-index: 99;
  visibility: hidden;
  top: 56px;
  width: 100%;
  -webkit-transition: background-color 0.5s 1s linear, visibility 0s 1.5s linear;
  -moz-transition: background-color 0.5s 1s linear, visibility 0s 1.5s linear;
  -ms-transition: background-color 0.5s 1s linear, visibility 0s 1.5s linear;
  -o-transition: background-color 0.5s 1s linear, visibility 0s 1.5s linear;
  transition: background-color 0.5s 1s linear, visibility 0s 1.5s linear;
  height: 100%; }
  .site-nav-holder .site-nav-content {
    position: relative;
    z-index: 99; }
    .site-nav-holder .site-nav-content::after {
      content: '';
      height: 0%;
      width: 100%;
      z-index: -1;
      bottom: 0;
      left: 0;
      position: absolute;
      -webkit-transition: height 0.5s 1s linear;
      -moz-transition: height 0.5s 1s linear;
      -ms-transition: height 0.5s 1s linear;
      -o-transition: height 0.5s 1s linear;
      transition: height 0.5s 1s linear;
      background-color: #fff; }
  .site-nav-holder .site-nav-extra {
    position: relative;
    z-index: 99; }
    .site-nav-holder .site-nav-extra::after {
      content: '';
      height: 0%;
      width: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      position: absolute;
      -webkit-transition: height 0.5s 1s linear;
      -moz-transition: height 0.5s 1s linear;
      -ms-transition: height 0.5s 1s linear;
      -o-transition: height 0.5s 1s linear;
      transition: height 0.5s 1s linear;
      background-color: #fff; }
  .site-nav-holder .site-nav-slide-holder {
    display: block;
    width: 70%;
    position: relative;
    height: 400px;
    top: -25px;
    overflow: hidden; }
  .site-nav-holder .site-nav-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transition: transform 0.3s linear; }
    .site-nav-holder .site-nav-slide.active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%); }
      .site-nav-holder .site-nav-slide.active .content {
        opacity: 1;
        -webkit-transition: opacity 0.3s 0.3s linear;
        -moz-transition: opacity 0.3s 0.3s linear;
        -ms-transition: opacity 0.3s 0.3s linear;
        -o-transition: opacity 0.3s 0.3s linear;
        transition: opacity 0.3s 0.3s linear; }
    .site-nav-holder .site-nav-slide .content {
      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      color: #fff;
      padding-top: 100px; }
      .site-nav-holder .site-nav-slide .content h2 {
        font-weight: normal;
        padding: 16px;
        text-align: center; }
    .site-nav-holder .site-nav-slide:nth-child(1) {
      background-color: #f046a1; }
    .site-nav-holder .site-nav-slide:nth-child(2) {
      background-color: #ba33ef; }
    .site-nav-holder .site-nav-slide:nth-child(3) {
      background-color: #3ca6f0; }
    .site-nav-holder .site-nav-slide:nth-child(4) {
      background-color: #3cf0ad; }
    .site-nav-holder .site-nav-slide:nth-child(5) {
      background-color: #f0913c; }
    .site-nav-holder .site-nav-slide:nth-child(6) {
      background-color: #2ae; }

.full-screen {
  height: 100vh; }

.slide-container, body {
  overflow: hidden;
  position: relative; }

.slide {
  height: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 16px #999; }
  .slide .align-self-center {
    width: 100%; }
  .slide.active.fade-up {
    z-index: 2;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .slide.active.fade-down {
    z-index: 2;
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .slide.active[data-index-slide="0"] h1 img {
    width: 80%;
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    transform: translate(0px, 0px) scale(1); }
  .slide.slide-out.fade-up {
    z-index: 1;
    animation-name: slide-up-then-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .slide.slide-out.fade-down {
    z-index: 1;
    animation-name: slide-down-slowly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .slide:nth-child(1) .text-holder {
    width: 100%;
    position: absolute; }
  .slide:nth-child(1) h1, .slide:nth-child(1) p {
    font-weight: normal;
    text-align: center; }
  .slide:nth-child(2n) {
    background-color: #efefef; }
  .slide:nth-child(2n + 1) {
    background-color: #fff; }
  .slide .d-flex {
    height: 100%; }
  .slide h1 {
    text-align: center;
    font-weight: normal;
    width: 100%;
    font-size: 40px;
    text-transform: uppercase; }

.slide-toggle-button {
  position: fixed;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 98; }
  .slide-toggle-button span {
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 32px 0px;
    background-color: #212121;
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear; }
    .slide-toggle-button span.active {
      height: 100px; }

@keyframes slide-up-then-down {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-40%); }
  100% {
    transform: translateY(100%); } }
@keyframes slide-down-slowly {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(40%); }
  100% {
    transform: translateY(100%); } }
@keyframes slide-up {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@keyframes slide-down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@media (max-width: 800px) {
  .slide h1 {
    font-size: 18px; } }
#animation-background {
  position: absolute;
  background: url(/assets/images/circuit.gif) left top no-repeat;
  background-size: cover;
  height: 100%; }

.member-cards {
  list-style: none;
  display: inline-table;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 4px 4px 16px #ccc; }
  .member-cards > li {
    float: left;
    display: block;
    width: 20%;
    padding: 16px;
    position: relative;
    overflow: hidden;
    height: inherit;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-right: 1px solid #ccc; }
    .member-cards > li.active {
      width: 60%; }

.member-card {
  background-color: #fff;
  box-shadow: 4px 4px 16px #444;
  height: 100%; }
  .member-card .member-details {
    padding: 16px;
    text-align: center; }
  .member-card .member-image {
    height: 300px;
    background: #efefef; }
  .member-card .member-name {
    font-weight: normal;
    padding-bottom: 16px; }

/* li.active .member-card {
	.member-name {
		@include transition( transform .5s .5s linear);
	@include transform( rotate(0deg));
	}

	.member-desc, .member-image{ 
		visibility: visible;
		opacity: 1;
	@include transform( scale(1));
		@include transition( visibility 0s 1s linear, opacity .3s 1s linear, transform .3s 1s linear);
	}
} */
.slide[data-slide-index="4"] {
  background-color: #e8a374; }

.form-holder {
  box-shadow: 4px 4px 16px #212121;
  background-color: #fff;
  height: 80vh; }
  .form-holder h1 {
    padding: 16px 0px; }

form {
  padding: 16px; }

.form-row {
  padding: 16px 0px;
  position: relative; }
  .form-row input, .form-row textarea {
    border: 0;
    display: block;
    width: 100%;
    padding: 8px 16px;
    outline: 0;
    border-bottom: 2px solid #ccc; }
    .form-row input:focus + .bottom-border, .form-row textarea:focus + .bottom-border {
      width: 100%; }
  .form-row .bottom-border {
    display: block;
    height: 2px;
    background-color: #ff6f00;
    position: absolute;
    width: 0%;
    bottom: 16px;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -ms-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out; }
  .form-row .btn {
    border: 0;
    outline: 0;
    background-color: #ff6f00;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer; }

@media (max-width: 568px) {
  .nav li {
    padding: 16px 0px; }
  .nav a {
    font-size: 16px; } }
@media (max-width: 768px) {
  .heading-holder {
    overflow-y: scroll;
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    transform: translateY(-150px); }

  .data-toggler-heading {
    display: inline-table;
    border-left: 0;
    width: 1500px;
    padding: 0;
    position: relative;
    z-index: 12; }

  .data-toggler-heading > li {
    float: left; }
    .data-toggler-heading > li a::after {
      background-color: transparent; }
    .data-toggler-heading > li:last-child a::before {
      height: 3px; }

  .images-rotator {
    display: none; }

  ul.sub-content {
    padding-left: 16px; }
    ul.sub-content > li span {
      padding: 8px 16px; } }

/*# sourceMappingURL=all.css.map */
