ul.data-toggler-heading {
  margin: 0;
  list-style: none; }

ul.sub-content {
  margin: 0; }

.data-toggler-heading {
  border-left: 1px solid #ff6f00;
  padding: 32px 0px; }
  .data-toggler-heading > li:last-child a::before {
    height: 0px; }
  .data-toggler-heading a {
    padding: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
    color: #fff !important;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
    .data-toggler-heading a::before {
      position: absolute;
      content: '';
      width: 20%;
      left: 40%;
      height: 2px;
      bottom: 0;
      background-color: #ccc; }
    .data-toggler-heading a::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #ff6f00;
      -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      -o-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transition: transform 0.3s ease-out;
      -moz-transition: transform 0.3s ease-out;
      -ms-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out; }
    .data-toggler-heading a.active {
      color: #ff6f00 !important; }
      .data-toggler-heading a.active::after {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg); }
      .data-toggler-heading a.active::before {
        background-color: #ff6f00; }
    .data-toggler-heading a:hover {
      color: #ff6f00 !important; }

ul.sub-content {
  top: 50%;
  color: #ccc;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.55s linear;
  -moz-transition: visibility 0s 0.55s linear;
  -ms-transition: visibility 0s 0.55s linear;
  -o-transition: visibility 0s 0.55s linear;
  transition: visibility 0s 0.55s linear; }
  ul.sub-content > li {
    display: block;
    overflow: hidden;
    position: relative; }
  ul.sub-content > li span {
    display: block;
    padding: 16px;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out; }
    ul.sub-content > li span::after {
      position: absolute;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background: #ccc;
      content: '';
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  ul.sub-content.active {
    visibility: visible;
    -webkit-transition: visibility 0s 0.6s linear;
    -moz-transition: visibility 0s 0.6s linear;
    -ms-transition: visibility 0s 0.6s linear;
    -o-transition: visibility 0s 0.6s linear;
    transition: visibility 0s 0.6s linear; }
    ul.sub-content.active > li span {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition: transform 0.5s 0.65s ease-out;
      -moz-transition: transform 0.5s 0.65s ease-out;
      -ms-transition: transform 0.5s 0.65s ease-out;
      -o-transition: transform 0.5s 0.65s ease-out;
      transition: transform 0.5s 0.65s ease-out; }

.slide-background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: transform 1s 0.5s ease-out;
  -moz-transition: transform 1s 0.5s ease-out;
  -ms-transition: transform 1s 0.5s ease-out;
  -o-transition: transform 1s 0.5s ease-out;
  transition: transform 1s 0.5s ease-out; }
  .slide-background::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%; }

.slide.active .slide-background {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.images-rotator {
  height: 100vh;
  position: absolute;
  top: 50%;
  right: 0px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: inset 8px 0px 16px #ccc;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .images-rotator h2 {
    margin-top: 80px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 16px; }
  .images-rotator .rotator-slide {
    float: left;
    max-height: 100% !important;
    max-width: 100%;
    padding: 0px 32px 0px 0px;
    position: absolute;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0s 0.3s linear;
    -moz-transition: transform 0s 0.3s linear;
    -ms-transition: transform 0s 0.3s linear;
    -o-transition: transform 0s 0.3s linear;
    transition: transform 0s 0.3s linear;
    z-index: 1; }
    .images-rotator .rotator-slide img {
      width: 100%;
      background-color: #fff; }
    .images-rotator .rotator-slide.active {
      z-index: 2;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: transform 0.3s linear;
      -moz-transition: transform 0.3s linear;
      -ms-transition: transform 0.3s linear;
      -o-transition: transform 0.3s linear;
      transition: transform 0.3s linear; }
  .images-rotator .rotator-slide-holder {
    display: block;
    position: relative;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    height: 400px; }

@keyframes switch {
  0% {
    z-index: 10;
    transform: translateY(0%); }
  30% {
    z-index: 10;
    transform: translateY(150%); }
  70% {
    z-index: 0;
    transform: translateY(150%); }
  100% {
    z-index: 0;
    transform: translateY(0%); } }

/*# sourceMappingURL=alternate.css.map */
