.slide-container, body {
  overflow: hidden;
  position: relative; }

.slide {
  height: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 16px #999; }
  .slide .align-self-center {
    width: 100%; }
  .slide.active.fade-up {
    z-index: 2;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .slide.active.fade-down {
    z-index: 2;
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .slide.active[data-index-slide="0"] h1 img {
    width: 80%;
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    transform: translate(0px, 0px) scale(1); }
  .slide.slide-out.fade-up {
    z-index: 1;
    animation-name: slide-up-then-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .slide.slide-out.fade-down {
    z-index: 1;
    animation-name: slide-down-slowly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .slide:nth-child(1) .text-holder {
    width: 100%;
    position: absolute; }
  .slide:nth-child(1) h1, .slide:nth-child(1) p {
    font-weight: normal;
    text-align: center; }
  .slide:nth-child(2n) {
    background-color: #efefef; }
  .slide:nth-child(2n + 1) {
    background-color: #fff; }
  .slide .d-flex {
    height: 100%; }

.slide-toggle-button {
  position: fixed;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 98; }
  .slide-toggle-button span {
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 32px 0px;
    background-color: #212121;
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear; }
    .slide-toggle-button span.active {
      height: 100px; }

@keyframes slide-up-then-down {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-40%); }
  100% {
    transform: translateY(100%); } }
@keyframes slide-down-slowly {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(40%); }
  100% {
    transform: translateY(100%); } }
@keyframes slide-up {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@keyframes slide-down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
#animation-background {
  position: absolute;
  background-position: 9% center;
  background-rpeat: no-repeat;
  background-size: cover;
  height: 100%; }

/*# sourceMappingURL=slides.css.map */
