.logo{
  position:absolute;
}

.header-nav{
  margin:0;
  float:right;
  display:inline-table;
}

.header-nav > li{
  float:left;
  padding:0;
  margin:0;
}

.header-nav a{
  display:block;
  padding:0px 16px;
  color:#fff;
}

.header-nav a:last-child{
  padding-right:0;
}

.logo h3{
  padding-bottom:4px;
  margin:0;
  color:#fff;
  border-bottom:3px solid #2ae;
  display:inline-block;
}

