@mixin t($w){
	-webkit-transition: $w;
	-moz-transition: $w;
	-ms-transition: $w;
	transition: $w;
}

@mixin trans($w){
	-webkit-trasnform: $w;
	-moz-transform: $w;
	-ms-transform: $w;
	transform:$w;
}

.menu-visible{
	.side-nav{
		@include trans(translateX(0px));
	}
	.toggler{
		ul{
			li:nth-child(1){
			-webkit-transform-origin:10%  40%;
				@include trans(rotate(45deg));
			}
			li:nth-child(2){
				opacity:0;
			}
			li:nth-child(3){
			-webkit-transform-origin:10%  40%;
				@include trans(rotate(-45deg));
			}
		}
	}
}

.side-nav{
	position:fixed;
	height:calc(100vh);
	height:100%;
	width:250px;
	z-index:99;
	display:table;
	background:#fff;
	right:0;
	box-shadow:0px 0px 10px #ccc;
	@include trans(translateX(250px));
	@include t(all .3s linear);
	ul{
		padding-top:100px;
		li{
			a{
				color:#000;
				text-decoration:none;
				display:block;
				padding:4px;
				text-align:center;
			}
		}
	}
}
.toggler{
	cursor:pointer;
	position:absolute;
	display:table;
	vertical-align:middle;
	background:#fff;
	height:80px;
	width:80px;
	padding:8px;
	top:calc(50% - 50px);
	box-shadow:-2px 2px 3px #ccc;
	@include trans(matrix3d(0.71,0.71,0.00,0,-0.71,0.71,0.00,0,0,0,1,0,-40,0,0,1));

	
	ul{
		display:table-cell;
		vertical-align:middle;
		padding:0;
		@include trans(rotate(-45deg));
		margin:auto;
		li{

			display:block;
			height:3px;
			margin:3px;
			width:20px;
			background:#000;
			@include t(all .3s linear);
		}
	}
}

#services{
	.services-tab-desktop{
		display:inline-table;
		width:100%;
		background:#4ae;
		div{
			width:20%;
			float:left;
			cursor:pointer;
			display:table;
			height:100px;
			padding:16px;
			@include t(all .25s linear);

			span{
				display:block;
				display:table-cell;
				vertical-align:middle;
				width:100%;
				text-align:center;
			}
		}
		div:hover{
			background:#fff;
			color:#2ae;
		}
		.active{
			background:#fff;
			color:#2ae;
		}
	}

	.services-tab-mobile{
		display:none;
	}
}

#tabs-wrapper{
	padding:50px 0px;

	.tab{
		display:none;
		ul{
			display:inline-table;
			width:100%;
		}
	}
	.tab.visible-block{
		display:block;
	}
	h1{
		line-height:40px;
		padding-bottom:10px;
		max-width:900px;
	}
	h4{
		line-height:30px;
		padding-bottom:50px;
		max-width:900px;
		color: #aaa;
	}

}

/* tab 1*/

div.ex-img{
	height:220px;
	display:block;
	img{
		display:block;
		margin:auto;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		@include t(all .25s linear);
		cursor:pointer;
	}
	img:hover{
		-webkit-filter: none;
		filter: none;
	}
}
.website-types{
	display:inline-table;
	list-style:none;
	width:100%;
	>li{
		float:left;
		margin-top:50px;
		width:25%;
	}

	p{
		text-align:center;
		padding:70px 0px;
		line-height:50px;
	}
}

.responsive-benefits{
	display:inline-block;
	width:100%;
	>li{
		width:50%;
		float:left;
		position: relative;
		min-height: 240px;
		margin-bottom: 60px;
		border-left:1px solid #ccc;
		p{
			padding:16px 0px;
			text-align:left;
		}
	}
}
/* Each content of tab design */
.reason-img{
	max-height: 80px;
	max-width: 80px;
	background-color: #2ae;
	background-position: 50%;
	background-repeat: no-repeat;
	float:left;
}
.reason-img + div{
	max-width:350px;
	margin-left:110px;
	padding-right:16px;
}

/* End of tab-2 design */

/* tab-3 design */
.graphics >li{
	p{
		padding-top:16px;
		padding:0px 16px;
		width:68%;
		min-height:110px;
	}
	>*{
		float:left;
	}
	padding:16px 0px;
	width:33.33%;
	float:left;
}

.graphics-tools{
	height: 80px;
	width: 80px;
	background-color: #2ae;
	background-position: 50%;
	background-repeat: no-repeat;
	display:inline-block;
}

/* End of tab -3 design */
/* Portfolio*/

.portfolio{
	background:#333;
}
.portfolio-wrapper{
	display:inline-table;
	width:100%;

	.folio-column{
		width:25%;
		float:left;
		>div{
			padding: 16px 16px;

			h4{
				text-align:center;
				color:#fff;
				font-weight:lighter;
				line-height:40px;
			}

			img{
				width:100%;
				@include t(.3s);
				cursor:pointer;
			}
			img:hover{
				@include trans(scale(1.2));
			}
			div{
				overflow:hidden;
				box-shadow:0px 0px 10px #000;
			}
		}

	}
}


/* About us wrapper*/

.about{
	padding-top:80px;
	padding-bottom:80px;
	h1, h3{
		text-align:center;
		line-height:2em;
	}
	h1{
		font-size:32px;
	}
	>div{
		position:relative;
	}
}

.why-us-reasons{
	>ul{
		display:inline-table;
		width:100%;
		>li{
			width:50%;
			padding:32px 16px;
			float:left;
			ul{
				padding:8px;
			}
		}

		img{
			width:100%;
		}
	}
}

.team{
	display:inline-table;
	width:100%;
	color:#fff;
	background:#444;
	.member-card{
		width:20%;
		padding:32px 16px;
		float:left;
		 div{
		 	width:100%;
		 	position:relative;
		 	img{
		 	width:100%;
		 	}
		 	.overlay{
		 		height:100%;
		 		width:100%;
		 		position:absolute;
		 		background:rgba(233, 128, 103, .9);
		 		z-index:2;
		 		top:0;
		 		color:#fff;
		 		text-align:center;
		 	}
		 }
	}
}

.others-think{
	padding:50px 16px;

	h1{
		line-height:50px;
	}
	h4{
		padding-bottom:40px;
	}
	ul{
		display:inline-table;
		width:100%;
		li{
			float:left;
			padding:32px 8px;
			width:33.333%;
		}
	}
}