footer{
	padding:100px 16px;
	background:url('../images/location.png') center center;
	background-size:cover;
	position:relative;
	.contact-logo{
		max-width:200px;
		margin:auto;
		svg{
			text{
				fill:#fff;
			}
		}
	}
	.contact-wrapper{
		padding:40px 16px;
		width:50%;
		max-width:500px;
		background: #a84d36;
		background: -webkit-linear-gradient(top, #de917e, #A84D36, #A84D36, #A84D36);
		position:relative;

		h1{
			padding: 50px 0px;
			text-align: center;
			color:#fff;
		}

		.input-field{
			border:0;
			max-width:400px;
			width:100%;
			display:block;
			padding:4px 8px;
			margin:auto;
			margin-top:30px;
			background:transparent;
			position:relative;
			height:40px;
			color:#fff;
		}

		input:focus{
			outline:0;
		}
		input::placeholder{
			color:rgba(256, 256, 256, 0.5);
		}
		span{
			position:relative;
			height:2px;
			width:100%;
			max-width:400px;
			display:block;
			background:rgba(256, 256, 256, 0.4);
			-webkit-transition:all .3s ease-out;
			margin:auto;
		}
		span::after{
		content:'';
        position:absolute;
        height:2px;
        width:100%;
        background:#fff;
        -webkit-transition:all .3s ease-out;
        -webkit-transform-origin:left;
        -webkit-transform:rotateY(90deg);
		}

		 .input-field:focus + span::after{
       		-webkit-transform:rotateY(0deg);
      		}
	}
	.btn{
		display:block;
		border:0;
		background:#000;
		color:#fff;
		padding:6px 16px;
		cursor:pointer;
		border-radius:3px;
		margin:32px auto;
	}
	.btn:hover{
		background:#444;
	}

	p{
		font-size:24px;
		color:#fff;
		text-align:center;
		a{
			color:#2ae;
			text-decoration:none;
		}
	}
}