@media(max-width:650px){

.wrapper{
	padding-left: 16px;
	padding-right:16px;
}

.menu{
	display:none;
}

/* promo-page text content */
.promo-content{
	padding:200px 0px 150px;
	color:#fff;
	text-align:left;
	h1{
		font-size:24px;
		line-height:40px;
		letter-spacing:1px;
	}
	p{
		span{
			display:block;
			height:1px;
			visibility:hidden;
		}
	}
}
#services{
	.services-tab-desktop{
		display:none;
	}
	.services-tab-mobile{
		display:block;
		select{
			display:block;
			height:40px;
			width:100%;
			background:#fff;
		}
	}
}
.tab{
	ul, .website-types{
		list-style:none;
		>li{
			float:left;
			width:100%;
		}
	}
}
/* portfolio */
.portfolio-wrapper{

	.folio-column{
		width:100%;
		float:none;
		>div{
			padding: 16px 8px;
		}

	}
}
/* about-us*/

.why-us-reasons{
	>ul{
		display:inline-table;
		width:100%;
		>li{
			width:100%;
			padding:32px 16px;
			float:left;
			ul{
				padding:8px;
			}
		}

		>li:last-child{
			border-bottom:1px solid #ccc;
		}
	}
}

/* team */
.team{
	.member-card{
		width:50%;
		padding:8px;
	}
}

.others-think{
	ul{
		>li{
			float:none;
			width:100%;
		}
	}
}
footer{
	.contact-wrapper{
		width:100%;
	}
}
}
