.counter-block {
	border-right: 1px solid #ccc;
	&:last-child{
		border:0;
	}
}
.counter {
	padding: 48px 0px;
	text-align:center;

	.count {
		color: #2ae;
		font-size:48px;
		display: block;
	}
	.counter-text {
		color: #aaa;
		text-transform: uppercase;
	}
}