$dark : #121212;
$light : #fff;

header{
	padding: 16px;
	position: fixed;
	z-index:90;
	width: 100%;
	color: $light;
	height: 80px;
	background-color: transparent;
	transition: height .3s linear, background-color .5s ease-in-out, box-shadow .3s ease-out,  transform .3s ease-out;
	&.scrolled {
		box-shadow: 0px 0px 16px #999;
		background-color: $light;
		color: $dark;
		height: 64px;

		#menu .burger {
			background-color: rgba(0, 0, 0, 1);

			&:after, &:before {
				background-color: $dark !important;
			}
		}
	}

	&.hidden {
		transform: translateY(-100%);
	}

}

.logo {
	text-transform: uppercase;
	font-size:24px;
	font-weight: bold;
	position:absolute;
	height: 90%;
	top:5%;
	z-index:99;

	> img {
		height: 100%;
	}

	span {
		font-size: 16px;
	}
}

.uppercase {
	text-transform: uppercase;
}

#menu {
	cursor: pointer;
	position:relative;
	z-index:99;
	.burger {
		height: 1px;
		width:32px;
		background-color: rgba(255, 255, 255, 1);
		position:relative;
		display: inline-block;
		transform: translateY(-4px);
		transition: background-color .3s .4s ease-in-out;
		&:after, &:before {
			content: '';
			position:absolute;
			height: 100%;
			width: 100%;
			background-color: $light;
			transform-origin: 15% 50%;
			transition: transform .4s .3s ease-in-out, width .8s .3s ease-out, background-color .3s .4s ease-in-out;
		}

		&:after {
			width:60%;
			top: 8px;
			right: 0;
		}

		&:before {
			top: -8px;
		}

	}

	&.menu-visible {
		.burger {
			background-color: rgba(255, 255, 255, 0) !important;
			transition: background-color .5s ease-in-out;
			&:after, &:before {
				transition: transform .5s .3s ease-in-out, width .5s ease-out;
			}
			&:after {
				width: 100%;
				transform: rotate(-45deg);
			}
			&:before {
				transform: rotate(45deg);
			}
		}
	}
}

#site-nav {
	position: fixed;
	background: $light;
	border-bottom: 1px solid $dark;
	width: 0%;
	height: 0%;
	right:0;
	top:37px;
	visibility: hidden;
	transition: width .5s 1s cubic-bezier(0.65, -0.02, 0.69, 0.82), height .2s .6s cubic-bezier(0.65, -0.02, 0.69, 0.82), visibility 1s 1.1s linear;
	&.reveal {
		width: 100%;
		height: 100%;
		visibility: visible;
		transition: width .6s cubic-bezier(0.65, -0.02, 0.69, 0.82), height .5s 1s cubic-bezier(0.65, -0.02, 0.69, 0.82), visibility 0s linear;

		.site-nav-content {
			opacity: 1;
			transition: opacity 1.3s 1.7s linear;
		}
		span.outer span {
			transform: translateX(0%);
			transition: transform 1.3s 1.7s ease-in-out;
		}
	}
}
.site-nav-content {
	opacity: 0;
	transition:opacity .3s ease-in-out;
	.menu-text-separate {
		font-size:160px;
		position:absolute;
		top:50%;
		left:100px;
		transform: translateY(-50%);
		color: #ccc;
		font-weight:bolder;
		>span {
			display: inline-block;
			overflow:hidden;
		}
		span.outer > span {
			transition: transform .3s ease-in-out;
			display: inline-block;
			transform: translateX(-100%);
		}
	}
}

.page-nav {
	list-style:none;
	padding:0;
	float:right;
	padding-right:64px;
	padding-top: 100px;
	position:relative;
	>li {
		padding: 16px 0px;
	}
	a {
		color: $dark;
		font-size:24px;
		display: block;
		transition: transform .3s ease-in-out;
		&:hover {
			text-decoration: none;
			transform: translateX(-20px);

			.nav-line:before {
				width: 100%;
			}
			.nav-line:after {
				transform: rotate(-45deg) scale(1);
			}
		}
	}

	.nav-index {
		font-size:14px;
		transform: rotate(90deg) translateX(-4px);
		display: inline-block;
	}
	.nav-line {
		display: inline-block;
		width:100px;
		height:2px;
		transform: translateY(-10px);
		margin: 0px 16px;
		position:relative;
		&:after {
			position:absolute;
			background-color: $dark;
			height:8px;
			width:8px;
			content:'';
			transform: rotate(-45deg) scale(0.01);
			left: -5px;
			top: -3px;
			transition: transform .3s ease-in-out;
		}
		&:before {
			position:absolute;
			background-color: $dark;
			height:100%;
			width:0%;
			content:'';
			transition: width .3s ease-in-out;
			top:0;
			right:0;
			display: block;
		}
	}

	
}

._detail-card {
	position: fixed;
	display: none;
	width: 100%;
	z-index:99;
	top: 100px;
	left: 100px;
	.detail-card {
		padding: 16px;
		color: #fff;
		background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%);

		> .row > *{
			padding: 8px;
		}
	}
	&.active{
		display: block;
	}
	img {
		width: 50%;
		margin: auto;
		display: block;
	}
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
			color: #dadada;
		}
	}
	.social-icons a {
		padding: 8px;
	}
	&::after {
		position: absolute;
		top:-150px;
		content:'';
		height: 150px;
		width: 300px;
		left:-50px;
	}
}

.scroll-to-top {
	background: $light;
	bottom: 32px;
	right: 32px;
	position: fixed;
	z-index:99;
	text-align:center;
	padding: 8px 8px;
	border-radius: 3px;
	border: 1px solid #ccc;
	transition: all .3s ease-out;
	cursor: pointer;
	color: $dark;
	opacity:0;
	&:hover {
		box-shadow: 0px 0px 8px #ccc;
	}

	> * {
		display: block;
	}

	&.visible {
		opacity: 1;
	}
}