//for xs devices
@media (max-width: 576px) {
	header {
		padding-left: 0px;
		padding-right: 0px;

		.logo span {
			display: none;
		}
		#menu {
			padding:0;
		}
		.page-nav {
			padding-right: 16px;
		}

		.menu-text-separate {
			display: none;
		}
	}

	.why-us .text {
		padding: 32px 16px;
	}

	.services {
		h1 {
			padding-left: 8px;
		}

		.service-card {
			margin: 16px 0px;
		}
	}

	.desc-something {
		h1 {
			font-size: 28px;
		}
		.side-img-text {
			padding: 32px 16px;
		}
	}

	.site-links {
		a{
			padding: 4px !important;
			font-size:14px;
		}
	}

	//clients page
	.clients-card {
		margin: 16px 0px !important;
	}
	.clients-card p, .clients-card h2 {
		padding: 8px !important;
	}

	//testimony container
	.testimony .testimony-card {
		margin-left:0;
	}

	.testimony .align-self-center span#testimony-switcher{
		transform: rotate(90deg) translate(150px, 16px);
		position:relative;
		z-index:3;
	}
}

//for sm devices
@media (max-width: 768px) {
	.slide {
		color: #fff;
		.slide-overlay{
			background-color: rgba(0, 0, 0, .8);
			color: #fff;
		}

		.btn-dark {
			color:#fff;
			border: 1px solid #fff;
			&:after{
				background-color: #fff !important;
			}
			&:hover {
				color: #212121 !important;
			}
		}
	}

	.slide-holder .slide-buttons .slide-toggle-button{
		background-color: #fff;
	}
}

//for md devices
@media (max-width: 992px){
	.desc-something {
		h1 {
			font-size: 32px;
		}
		.side-img-text {
			padding: 48px 16px;
		}
	}
}

//for lg devices

@media (max-width: 1200px) {
	.side-img {
		min-height: 400px;
	}
	.desc-something {
		h1 {
			font-size: 32px;
		}
		.side-img-text {
			padding: 56px 16px;
		}
	}
}

