.testimony {
	.left {
		padding-top: 64px;
		padding-bottom: 64px;
		background-color: #000;
		position:relative;
		&::before {
			position: absolute;
			content:'';
			width: 100%;
			height: 100%;
			background-color: #fff;
			top:0;
			right:0;
			transition: width .4s .5s ease-out;
		}
		h1 {
			color: #2ae;
			position:relative;
			z-index:2;
		}
		.light {
			font-weight: 400;
		}
	}

	.right {
		padding-top: 64px;
		padding-bottom: 64px;
		background: transparent;
		position:relative;
		&::before {
			position: absolute;
			content:'';
			width: 100%;
			height: 100%;
			background-color: #4ae;
			top:0;
			left:0;
			transition: width .4s .5s ease-out;
		}
	}
	span#testimony-switcher {
		display: inline-block;
		height: 50px;
		width: 50px;
		transform: rotate(90deg) translate(216px, 45px);
		background: #fff; border-radius: 100%; box-shadow: 0px 0px 32px #999;
		position:relative;
		cursor: pointer;
		&::after {
			content: '';
			position:absolute;
			height: 12px;
			width:12px;
			border-top: 2px solid #000;
			border-left: 2px solid #000;
			transform: rotate(-135deg);
			top: 18px;
			left: 19px;
		}
	}
	._testimony-cards-holder {
		overflow: hidden;
		padding: 16px;
		padding-left:0px;
	}
	.testimony-cards-holder {
		transition: transform .3s linear;
	}
	.testimony-card {
		width: 350px;
		min-height: 250px;
		margin-left:32px;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0px 0px 16px #444;
		float:left;
		transition: transform .5s .3s linear;
		transform: scale(1);

		&.shrink {
			transition: transform .3s linear;
			transform: scale(0.01);
		}
	}

	.customer {
		&-img {
			height: 50px;
			width: 50px;
			background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%);
			border-radius: 100%;
			marin-top:32px;
			img {
				width: 100%;
				border-radius: 100%;
			}
		}

		&-name {
			font-weight: bold;
		}

		&-company {
			text-transform: uppercase;
			font-size: 14px;
			color: #aaa;
		}

		&-testimony {
			color: #aaa;
		}
	}

	&.hidden {
		.left::before {
			width: 0%;
		}

		.right::before {
			width: 0%;
		}

		.testimony-card {
			transform: scale(0.01);
		}
	}
}