.why-us {
	padding:0;
	position: relative;
	.diagonal {
		background: #2ae;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index:1;
		border-radius: 15px;
		&:after {
			position:absolute;
			height: 100%;
			width: 100%;
			background: #2ae;
			content: '';
			transform: skewY(5deg);
			transform-origin: 0% 0%;
			border-radius: 15px;
		}
	}
	h1 {
		position: relative;
		z-index: 2;
		font-weight: 400;
		font-size:24px;
		padding:48px 16px 32px 16px;
	}
	.wu-card-holder {
		position: relative;
		z-index:2;
		margin-bottom: 32px;
		&.full .slide-text-left span {
			transition: transform .3s .5s ease-out;
			transform: translateX(0%);
		}

		.slide-text-left {
			overflow:hidden;
		}

		.slide-text-left span {
			transform: translateX(-100%);
			display: inline-block;
		}
		.wu-card{
			background: #0f3e54;
			border-radius: 3px;
			padding: 16px 8px;
			box-shadow: 0px 0px 16px #444;
			transition: all .3s ease-out;
			&:hover {
				background: #fff;
				box-shadow: 0px 0px 16px #444;

				.wu-card-heading {
					color: #444;
				}

				.wu-card-desc{
					color: #444;
				}
			}

			&-icon {
				position:relative;
				z-index:1;
				font-size:48px;
				text-align:center;
				margin: 16px 0px;
			}

			&-heading {
				font-weight: 500;
				padding: 16px;
				color: #fff;
			}

			&-desc{
				font-size: 14px;
				color: #fff;
				padding:16px;
			}
		}

	}

	.se-icon {
		display: inline-block;
		background: #14ABF4;
		padding: 16px;
		color: #fff;
		position: relative;
		margin: auto;
		border-radius: 3px;

		&::after {
			border-radius: 3px;
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			transform: rotate(10deg);
			background: #89D5F9;
			top:0;
			left:0;
			z-index:-1;
			animation-name: back-fro;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-direction: alternate;
		}
	}

	.se{
		&-blue{
			background-color: #14ABF4;
			&::after {
				background-color: #89D5F9;
			}
		}

		&-red {
			background-color: #c73e28;
			&::after {
				background-color: #e28272;
			}
		}

		&-pink {
			background-color: #d52e7e;
			&::after {
				background-color: #e272a8;
			}
		}

		&-green {
			background-color: #81DA34;
			&::after {
				background-color: #C0EC99;
			}
		}
	}
		
}

.btn {
  display:inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 16px;
  border-radius: 3px;
  transition: color .3s linear;
  position:relative;
  &.btn-dark {
  	color: #000;
  	border: 1px solid #000;
  	&::after {
  		background-color: #000;
  	}
  	&:hover {
  		color: #fff;
  	}
  }
  &::after {
  	content: '';
  	position:absolute;
  	height:100%;
  	width: 0%;
  	z-index: -1;
  	background: #fff;
  	top:0;
  	left:0;
  	transition: width .3s linear;
  }
  	&:hover {
  		text-decoration: none;
  		color: #000;
  		&::after{
  			width: 100%;
  		}

  	}
}