<!DOCTYPE html>
<html>
<head>
	<title>Clients - The Online Monk</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="./assets/css/framework/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/framework/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/contact.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/all.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/clients-page.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/faq.css">
</head>
<body>
	<div class="container-fluid">
		<header class="row">
			<div class="col-10 logo"><img src="./assets/images/logo-transparent.png" alt=" The Online Monk "> <span class="hidden-sm-down">"THE ONLINE MONK" </span></div>
			<!-- <div class="hidden-sm-down"><a href="callto:+919090909090">+91 90 90 909090</a> <a href="mailto:cs@theonlinemonk.com">cs@theonlinemonk.com</a></div> -->
			<div class="offset-md-10 offset-sm-7 offset-xs-6 col-lg-1 col-md-1 col-sm-2 col-xs-3 col-3 offset-7 uppercase" style="text-align: right">Menu</div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 col-2" id="menu">
				<span class="burger"></span>
			</div>
			<div id="site-nav" class="r">
				<div class="site-nav-content">
					<div class="menu-text-separate">
						<span class="outer"><span>M</span></span>
						<span class="outer"><span>E</span></span>
						<span class="outer"><span>N</span></span>
						<span class="outer"><span>U</span></span>
					</div>
					<nav>
						<ul class="page-nav">
							<li>
								<a href="index.html"><span class="nav-index">00</span> <span class="nav-line"></span>  Main Page</a>
							</li>
							<li>
								<a href="services.html"><span class="nav-index">01</span> <span class="nav-line"></span>Services</a>
							</li>
							<li>
								<a href="clients.html"><span class="nav-index">02</span> <span class="nav-line"></span>Clients</a>
							</li>
							<li>
								<a href="career.html"><span class="nav-index">03</span> <span class="nav-line"></span>Career</a>
							</li>
							<li>
								<a href="contact.html"><span class="nav-index">04</span> <span class="nav-line"></span>Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<!-- scroll to top button -->
			<div class="scroll-to-top">
				<span class="top-arrow"></span>
				<span>TOP</span>
			</div>
		</header>


		<!-- Banner -->
		<div class="row">
			<div class="col-12" style="padding:0;">
				<div class="slide-holder">
					<div class="slide">
						<div class="slide-overlay col-12">
							
						</div>
						<div class="col-md-4 col-12 slide-text">
							<div class="d-flex">
								<div class="text align-self-center">
									<h1>
										<span class="_slide-left">
											<span class="slide-left">Make your marketing 
												<span class="continuous-switch">
													<span>real</span> <span>great.</span>
												</span>
											</span>
										</span>
									</h1>
									<p>
										<span class="_slide-left">
											<span class="slide-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
										</span> 
										<br><br>
										<a href="#" class="btn btn-dark slide-button">Know More</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-12 align-self-center slide-image">
							<div class="d-flex">
								<div class="align-self-center">
										<!-- Apaptive based on device-width -->
									<img src="./assets/images/laptop.png"/>
								</div>
							</div>
						</div>
						<div class="col-12 graph">
							<img src="./assets/images/graph4.png" />
						</div>
					</div>

					<div class="slide-buttons">
						
					</div>
				</div>
			</div>
		</div>
		<!-- Counter -->
		<div class="row counter">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">9+</span>
					<span class="counter-text"><i class="fas fa-globe"></i> &nbsp;&nbsp;Countries</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">600+</span>
					<span class="counter-text"><i class="fas fa-clipboard"></i> &nbsp;&nbsp;Projects</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">15+</span>
					<span class="counter-text"><i class="fas fa-trophy"></i> &nbsp;&nbsp;Trophies</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">3+</span>
					<span class="counter-text"><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Office locations</span>
				</p>
			</div>
		</div>

		<!-- All about clients -->
		<div class="row" style="padding-bottom: 64px;">
			<h1 class="col-12" style="font-weight: 500; padding: 32px;">What we promise</h1>
			<div class="col-12 animated">
				<div class="row no-gutters clients-card">
					<div class="col-12 col-sm-4 client-img"></div>
					<div class="col-12 col-sm-8">
						<h2 class="client-company">SEO</h2>
						<p class="client-desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br>
							<br>
							<a href="#" class="btn btn-dark" style="padding: 4px 16px;">Visit Site</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 animated">
				<div class="row no-gutters clients-card">
					<div class="col-12 col-sm-8">
						<h2 class="client-company">SEO</h2>
						<p class="client-desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br>
							<br>
							<a href="#" class="btn btn-dark" style="padding: 4px 16px;">Visit Site</a>
						</p>
					</div>
					<div class="col-12 col-sm-4 client-img"></div>
				</div>
			</div>
			<div class="col-12 animated">
				<div class="row no-gutters clients-card">
					<div class="col-12 col-sm-4 client-img"></div>
					<div class="col-12 col-sm-8">
						<h2 class="client-company">SEO</h2>
						<p class="client-desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br>
							<br>
							<a href="#" class="btn btn-dark" style="padding: 4px 16px;">Visit Site</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 5 awesome reasons -->
		<div class="reasons row" id="reasons" style="padding-bottom: 64px; border-bottom: 1px solid #efefef; background: #efefef;">
			<h1 class="col-12" style="font-weight: 500; padding: 32px;">5 Awesome reasons why everyone loves us!</h1>
			<div class="col-sm-6 col-12 animated" v-for="r in reason">
				<div class="row no-gutters clients-card" style="background-color: #fff">
					<div class="col-12 col-lg-4 col-sm-12 client-img"></div>
					<div class="col-12 col-lg-8 col-sm-12">
						<h2 class="client-company">{{r.heading}}</h2>
						<p class="client-desc">
							{{ r.reason }}
							<br>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimony -->

		<div class="row testimony hidden">
			<div class="col-12 col-xs-12 col-sm-4 d-flex left">
				<div class="align-self-center">
					<h1 style="padding: 32px;">Customer <br> <span class="light">Stories</span></h1>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-8 d-flex right">
				<div class="align-self-center" style="width: 100%;">
					<span id="testimony-switcher" ripple ripple-dark>
					</span>
					<div class="_testimony-cards-holder" id="testimony">
						<div class="testimony-cards-holder">
							<div class="testimony-card" v-for="t in testimony">
								<div class="container-fluid">
									<div class="row" style="padding:16px 0px">
										<div class="col-2 offset-1">
											<div class="customer-img">
											</div>
										</div>
										<div class="col-8">
											<p>
												<span class="customer-name">{{t.user}}</span><br>
												<span class="customer-company">{{t.company}}</span>
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-10 offset-1">
											<p class="customer-testimony">{{t.review}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- FAQ -->

		<div class="row faq" id="faq">
			<h1 class="col-12">FAQ's</h1>
			<div class="col-12 accordion-holder">
				<div class="accordion-sliders accordion"  role="tablist" aria-live="polite" data-behavior="accordion" >
				    	<article class="accordion__item js-show-item-default" data-binding="expand-accordion-item" v-for="f in faq">
					        <span id="tab5" tabindex="0" class="accordion__title" aria-controls="panel5" role="tab" aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
					        	<h5>{{f.question}} <span class="close">&times;</span></h5>
					        </span>

					        <div id="panel5" class="accordion__content" role="tabpanel" aria-hidden="true" aria-labelledby="tab5" data-binding="expand-accordion-container">
					        	<div class="accordion__content-inner">
					            	<p>{{f.answer}}</p>
					          	</div>
					        </div>
				     	</article>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="row">
			<div class="col-lg-6 col-md-4 col-sm-12 offset-lg-1 offset-lg-1">
				<img src="./assets/images/icon.png"/>
			</div>
			<div class="col-lg-5 col-md-7 col-sm-12">
				<p class="site-links">
					<a href="#">HOME</a>
					<a href="#">ABOUT</a>
					<a href="#">CONTACT</a>
					<a href="#">SERVICES</a>
				</p>
				<p class="social-icons">
					<a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
					<a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
					<a href="#" title="Behance"><i class="fab fa-behance"></i></a>
					<a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
					<a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
				</p>
			</div>
			<p class="copyright col-12">
				Copyright The Online monk 2017-2018
			</p>
			<style type="text/css">
				.animated {
				  transform: translateY(50%);
				  opacity: 0;
				  transition: transform .6s ease-out, opacity .6s linear;
				}

				.animated.full {
					opacity: 1;
				  transform: translateY(0%);
				}
			</style>
		</footer>
	</div>
	<script type="text/javascript" src="./assets/js/vue.js"></script>
	<script type="text/javascript" src="./assets/js/jquery.js"></script>
	<!-- <script type="text/javascript" src="./assets/js/header.js"></script> -->
	<script type="text/javascript" src="./assets/js/index.js"></script>
	<script type="text/javascript" src="./assets/js/reasons.js"></script>
</body>
</html>