<!DOCTYPE html>
<html>
<head>
	<title>The Online Monk</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="./assets/css/framework/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/framework/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/ripple.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/all.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/contact.css">
</head>
<body>

	<div class="container-fluid">
		<header class="row">
			<div class="col-10 logo"><img src="./assets/images/logo-transparent.png" alt=" The Online Monk "> <span class="hidden-sm-down">"THE ONLINE MONK" </span></div>
			<!-- <div class="hidden-sm-down"><a href="callto:+919090909090">+91 90 90 909090</a> <a href="mailto:cs@theonlinemonk.com">cs@theonlinemonk.com</a></div> -->
			<div class="offset-md-10 offset-sm-7 offset-xs-6 col-lg-1 col-md-1 col-sm-2 col-xs-3 col-3 offset-7 uppercase" style="text-align: right">Menu</div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 col-2" id="menu">
				<span class="burger"></span>
			</div>
			<div id="site-nav" class="r">
				<div class="site-nav-content">
					<div class="menu-text-separate">
						<span class="outer"><span>M</span></span>
						<span class="outer"><span>E</span></span>
						<span class="outer"><span>N</span></span>
						<span class="outer"><span>U</span></span>
					</div>
					<nav>
						<ul class="page-nav">
							<li>
								<a href="index.html"><span class="nav-index">00</span> <span class="nav-line"></span>  Main Page</a>
							</li>
							<li>
								<a href="services.html"><span class="nav-index">01</span> <span class="nav-line"></span>Services</a>
							</li>
							<li>
								<a href="clients.html"><span class="nav-index">02</span> <span class="nav-line"></span>Portfolio</a>
							</li>
							<li>
								<a href="career.html"><span class="nav-index">03</span> <span class="nav-line"></span>Career</a>
							</li>
							<li>
								<a href="contact.html"><span class="nav-index">04</span> <span class="nav-line"></span>Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<!-- scroll to top button -->
			<div class="scroll-to-top">
				<i class="fas fa-angle-up"></i>
				<span>TOP</span>
			</div>
		</header>
		<div class="_detail-card row hidden-sm-down">
			<div class="col-12 detail-card col-lg-5 col-md-6 col-sm-8 col-xs-10">
				<div class="row no-gutters">
					<div class="col-6">
						<img src="./assets/images/logo-transparent.png" alt=" The Online Monk ">

						<p>
							</br></br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
					<div class="col-6">
						<p>
							</br>
							<a href="callto:+919090909090"> M: +91 90 90 909090</a> </br>
							<a href="mailto:contact@monk.com">Mail: contact@monk.com</a>
						</p>

						<p>
							<address>
								<p><b>Address</b></br>
									#001 XYZ street,</br>
									XYZ Area,</br>
									Bangalore - 560083</br></br>
								</p>
							</address>
						</p>

						<p class="social-icons">
							<a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
							<a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
							<a href="#" title="Behance"><i class="fab fa-behance"></i></a>
							<a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
							<a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- image slider -->
		<div class="row">
			<div class="col-12" style="padding:0;">
				<div class="slide-holder" id="image-slider">
					<div class="_slide" v-for="s in slides">
						<div class="slide" v-bind:style="{ backgroundImage: 'url(' + s.image+ ')' }">
							<div class="overlay-slide  d-flex">
								<div class="slide-text align-self-end">
									<div class="row">
										<h1 class="offset-md-2 offset-sm-1 col-12 col-lg-8 col-md-8 col-sm-10 col-xs-12">
											<span class="_slide-left">
												<span class="slide-left">{{s.heading}}</span>
											</span>
										</h1>
									</div>
									<div class="row">
										<p class="offset-md-2 offset-sm-1 col-12 col-lg-8 col-md-8 col-sm-10 col-xs-12">
											<span class="_slide-left">
												<span class="slide-left">{{subHeading}}</span>
											</span>
										</p>

									</div>
									<a href="#" class="btn btn-link">Know More</a>
								</div>
							</div>
						</div>
					</div>

					<div class="slide-buttons">
						
					</div>
				</div>
			</div>
		</div>

		<!-- Counter -->

		<div class="row counter">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">9+</span>
					<span class="counter-text"><i class="fas fa-globe"></i> &nbsp;&nbsp;Countries</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">600+</span>
					<span class="counter-text"><i class="fas fa-clipboard"></i> &nbsp;&nbsp;Projects</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">15+</span>
					<span class="counter-text"><i class="fas fa-trophy"></i> &nbsp;&nbsp;Trophies</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xm-6 col-12 counter-block">
				<p>
					<span class="count">3+</span>
					<span class="counter-text"><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Office locations</span>
				</p>
			</div>
		</div>

		<!-- why us -->
		<div class="row">
			<div class="col-12 why-us">
				<div class="diagonal">
				</div>
				<div class="col-12">
					<div class="row" id="why-us">
						<h1 class="col-12">5 Awesome Reasons Clients Keep Working with us!</h1>
						<div class="col-lg-3 col-md-4 col-xs-6 col-12" v-for="w in whyUs">
							<div class="wu-card-holder animated">
								<div class="wu-card">
									<div class="wu-card-icon">
										<i class="fas fa-desktop se-icon se-red"></i>
									</div>
									<div>
										<h2 class="wu-card-heading">{{w.heading}}</h2>
									</div>
									<div>
										<p class="wu-card-desc slide-text-left">{{w.desc}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- carousel -->

		<div class="row customers-carousel">
			<h1 class="col-12">All Our Happy Customer</h1>
			<div class="col-12 _slider-customer">
				<!-- Accordion slider -->
				<ul class="slider-customer">
					<li>
						<div class="customer-logo"></div>
						<p>Company-name</p>
					</li>
					<li>
						<div class="customer-logo"></div>
						<p>Company-name</p>
					</li>
					<li>
						<div class="customer-logo"></div>
						<p>Company-name</p>
					</li>
					<li>
						<div class="customer-logo"></div>
						<p>Company-name</p>
					</li>
				</ul>
			</div>
		</div>

		<!-- services -->
		<div class="row services">
			<div class="container">
				<div class="row">
					<h1 class="col-12">Services Provided</h1>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="service-card animated">
							<div class="s-card">
								<!-- Web Design icon -->
								<div class="row no-gutters service-icon">
									<i class="se-icon se-blue">
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.52 491.52" style="enable-background:new 0 0 491.52 491.52;" xml:space="preserve">
											<path d="M491.52,399.36V20.48H0v378.88h153.6v51.2h-40.96v20.48h266.24v-20.48h-40.96v-51.2H491.52z M20.48,40.96h450.56v276.48
												H20.48V40.96z M317.44,450.56H174.08v-51.2h143.36V450.56z M20.48,378.88v-40.96h450.56v40.96H20.48z"/>
											<rect x="307.2" y="61.44" width="133.12" height="20.48"/>
											<rect x="235.52" y="61.44" width="51.2" height="20.48"/>
											<rect x="194.56" y="61.44" width="20.48" height="20.48"/>
											<rect x="153.6" y="61.44" width="20.48" height="20.48"/>
											<rect x="317.44" y="215.04" width="122.88" height="20.48"/>
											<rect x="276.48" y="215.04" width="20.48" height="20.48"/>
											<rect x="235.52" y="215.04" width="20.48" height="20.48"/>
											<rect x="337.92" y="163.84" width="102.4" height="20.48"/>
											<rect x="194.56" y="163.84" width="122.88" height="20.48"/>
											<rect x="225.28" y="112.64" width="40.96" height="20.48"/>
											<rect x="286.72" y="112.64" width="153.6" height="20.48"/>
											<rect x="51.2" y="112.64" width="153.6" height="20.48"/>
											<rect x="245.76" y="266.24" width="194.56" height="20.48"/>
											<polygon points="176.2,202.68 161.72,217.16 190.32,245.76 161.72,274.36 176.2,288.84 219.28,245.76 		"/>
											<polygon points="94.28,217.16 79.8,202.68 36.72,245.76 79.8,288.84 94.28,274.36 65.68,245.76 		"/>
												
											<rect x="72.86" y="235.538" transform="matrix(0.3711 -0.9286 0.9286 0.3711 -147.7282 273.431)" width="110.281" height="20.48"/>
										</svg>
									</i>
								</div>
								<h2 class="service-heading">Web Development</h2>
								<p class="service-desc slide-text-left">With our advertising solutions, you can create targeted adverts to reach different audience and meet required goals.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="service-card animated">
							<div class="s-card">

								<!-- Web content icon -->
								<div class="row no-gutters service-icon">
									<i class="se-icon se-green">
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
											<path d="M503.983,4.276H256H8.017C3.589,4.276,0,7.865,0,12.292v102.614v384.802c0,4.427,3.589,8.017,8.017,8.017H256h247.983
												c4.427,0,8.017-3.589,8.017-8.017V114.906V12.292C512,7.865,508.411,4.276,503.983,4.276z M495.967,491.691H256H16.033V122.923
												H256h239.967V491.691z M495.967,106.889H256H16.033v-86.58H256h239.967V106.889z"/>
											<path d="M427.023,38.48H332.96c-4.427,0-8.017,3.589-8.017,8.017c0,4.427,3.589,8.017,8.017,8.017h94.063
												c4.427,0,8.017-3.589,8.017-8.017C435.04,42.07,431.45,38.48,427.023,38.48z"/>
											<path d="M469.779,38.48h-17.102c-4.427,0-8.017,3.589-8.017,8.017c0,4.427,3.589,8.017,8.017,8.017h17.102
												c4.427,0,8.017-3.589,8.017-8.017C477.795,42.07,474.206,38.48,469.779,38.48z"/>
											<path d="M264.551,29.929c-3.835,0-7.612,0.647-11.222,1.924c-0.009,0.003-0.016,0.008-0.025,0.01
												c-13.412,4.754-22.423,17.504-22.423,31.737c0,14.232,9.011,26.982,22.422,31.737c0.009,0.003,0.016,0.008,0.025,0.011
												c3.611,1.276,7.387,1.924,11.222,1.924c18.566,0,33.67-15.105,33.67-33.67S283.117,29.929,264.551,29.929z M264.551,81.236
												c-2.011,0-3.988-0.339-5.88-1.007c-0.001,0-0.002-0.001-0.003-0.001c-7.03-2.488-11.754-9.17-11.754-16.629
												s4.723-14.14,11.755-16.629c0.001,0,0.002,0,0.003-0.001c1.891-0.669,3.869-1.007,5.88-1.007c9.725,0,17.637,7.912,17.637,17.637
												S274.276,81.236,264.551,81.236z"/>
											<path d="M170.489,29.929c-18.566,0-33.67,15.105-33.67,33.67s15.105,33.67,33.67,33.67s33.67-15.104,33.67-33.67
												S189.054,29.929,170.489,29.929z M170.489,81.236c-9.725,0-17.637-7.912-17.637-17.637s7.912-17.637,17.637-17.637
												s17.637,7.912,17.637,17.637S180.213,81.236,170.489,81.236z"/>
											<path d="M76.426,29.929c-18.566,0-33.67,15.105-33.67,33.67s15.105,33.67,33.67,33.67s33.67-15.104,33.67-33.67
												S94.992,29.929,76.426,29.929z M76.426,81.236c-9.725,0-17.637-7.912-17.637-17.637s7.912-17.637,17.637-17.637
												s17.637,7.912,17.637,17.637S86.151,81.236,76.426,81.236z"/>
											<path d="M480.454,214.537l-84.651-84.653c-3.131-3.131-8.207-3.131-11.338,0L330.5,183.85H256H72.15
												c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017H256h58.466l-64.135,64.135l-56.65,56.65H72.15
												c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017h105.497l-17.278,17.278c-0.009,0.009-0.017,0.017-0.027,0.027
												l-0.014,0.014c-0.025,0.025-0.045,0.051-0.069,0.077c-0.159,0.164-0.314,0.332-0.461,0.51c-0.055,0.065-0.1,0.135-0.153,0.202
												c-0.108,0.14-0.216,0.28-0.315,0.429c-0.065,0.097-0.122,0.199-0.183,0.299c-0.074,0.122-0.151,0.243-0.218,0.37
												c-0.068,0.128-0.127,0.26-0.188,0.39c-0.049,0.105-0.102,0.207-0.146,0.315c-0.067,0.162-0.124,0.329-0.181,0.495
												c-0.028,0.082-0.06,0.161-0.086,0.245c-0.064,0.212-0.117,0.426-0.162,0.642c-0.009,0.042-0.022,0.081-0.031,0.123l-0.005,0.025
												c-0.002,0.01-0.004,0.019-0.005,0.029l-19.862,99.316H72.15c-4.427,0-8.017,3.589-8.017,8.017c0,4.427,3.589,8.017,8.017,8.017
												h72.641c0.012,0,0.023,0.001,0.036,0.001c0.003,0,0.005,0,0.009,0c0.003,0,0.005,0,0.009,0c0.012,0,0.024-0.001,0.036-0.001h6.276
												c2.139,0,4.077-0.843,5.514-2.208l35.038-7.008c0.005-0.001,0.01-0.002,0.015-0.003l0.032-0.006l60.415-12.083
												c0.007-0.001,0.015-0.003,0.023-0.004l0.028-0.005c0.047-0.01,0.091-0.025,0.138-0.035c0.21-0.046,0.419-0.096,0.625-0.158
												c0.088-0.027,0.171-0.061,0.258-0.09c0.161-0.056,0.324-0.11,0.482-0.175c0.112-0.047,0.219-0.102,0.328-0.153
												c0.126-0.059,0.253-0.115,0.377-0.182c0.13-0.07,0.253-0.148,0.378-0.223c0.097-0.059,0.197-0.114,0.291-0.177
												c0.149-0.099,0.29-0.208,0.431-0.316c0.066-0.051,0.136-0.097,0.201-0.152c0.175-0.144,0.341-0.297,0.503-0.455
												c0.027-0.027,0.057-0.048,0.082-0.075l0.016-0.016c0.009-0.009,0.017-0.016,0.025-0.025l5.309-5.309l110.306-110.306
												l48.015-48.015l60.465-60.465C483.584,222.743,483.584,217.667,480.454,214.537z M202.669,334.353
												c0.001-0.001,0.002-0.002,0.003-0.002l58.998-58.998l68-68l15.872,15.873L193.208,375.56l-15.873-15.873L202.669,334.353z
												 M356.878,234.564l18.896,18.896l-69.556,69.556l-55.886,55.886l-26.891,26.891l-18.896-18.896L356.878,234.564z M155.055,455.283
												l3.774-18.869l15.095,15.095L155.055,455.283z M192.819,447.731l-30.211-30.211l8.314-41.57l16.618,16.618l30.233,30.233
												l16.618,16.617L192.819,447.731z M360.637,323.016L250.65,433.002l-15.873-15.872l26.891-26.891l55.886-55.886l69.556-69.556
												l15.872,15.872L360.637,323.016z M414.32,269.332l-21.54-21.54l-30.234-30.233l-21.54-21.541l49.129-49.128l73.314,73.314
												L414.32,269.332z"/>
											<path d="M394.211,169.096c-3.13-3.131-8.207-3.131-11.337,0l-19.24,19.24c-3.131,3.131-3.131,8.207,0,11.337
												c1.565,1.565,3.617,2.348,5.668,2.348s4.103-0.782,5.668-2.348l19.24-19.24C397.342,177.302,397.342,172.225,394.211,169.096z"/>

										</svg>
									</i>
								</div>
								<h2 class="service-heading">Content Writing</h2>
								<p class="service-desc slide-text-left">With our advertising solutions, you can create targeted adverts to reach different audience and meet required goals.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="service-card animated">
							<div class="s-card">

								<!-- Graphics icon -->
								<div class="row no-gutters service-icon">
									<i class="se-icon se-red">
										<svg  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
											<path d="M334.291,305.163L312.518,165.82L326.28,8.941c0.202-2.297-0.57-4.573-2.128-6.273C322.594,0.967,320.395,0,318.089,0
											H197.086c-2.287,0-4.471,0.953-6.027,2.629s-2.344,3.925-2.173,6.205l11.461,153.718c-0.338,0.707-0.584,1.469-0.71,2.277
											L177.71,305.164c-0.263,1.688,0.005,3.417,0.77,4.947l70.166,140.333c1.392,2.786,4.24,4.545,7.354,4.545s5.962-1.76,7.354-4.545
											l70.167-140.334C334.286,308.581,334.554,306.851,334.291,305.163z M309.113,16.445l-12.406,141.43h-80.217l-10.545-141.43
											H309.113z M256,289.439c-12.393,0-22.475-10.082-22.475-22.475c0-12.393,10.082-22.475,22.475-22.475s22.475,10.082,22.475,22.475
											C278.475,279.357,268.393,289.439,256,289.439z M264.223,411.934V305.002c17.524-3.785,30.698-19.399,30.698-38.039
											c0-21.461-17.46-38.921-38.921-38.921s-38.921,17.461-38.921,38.922c0,18.64,13.174,34.254,30.698,38.039v106.932l-53.415-106.829
											l20.435-130.785h82.405l20.435,130.785L264.223,411.934z"/>
											<path d="M418.261,451.7h-43.854c-4.542,0-8.223,3.682-8.223,8.223v13.704H145.816v-13.704c0-4.541-3.68-8.223-8.223-8.223H93.739
											c-4.542,0-8.223,3.682-8.223,8.223v43.854c0,4.541,3.68,8.223,8.223,8.223h43.854c4.542,0,8.223-3.682,8.223-8.223v-13.704
											h220.368v13.704c0,4.541,3.68,8.223,8.223,8.223h43.854c4.542,0,8.223-3.682,8.223-8.223v-43.854
											C426.484,455.382,422.803,451.7,418.261,451.7z M129.37,495.555h-27.409v-27.409h27.409V495.555z M410.039,495.555H382.63v-27.409
											h27.409V495.555z"/>
										
											<path d="M457.73,254.355c-4.542,0-8.223,3.682-8.223,8.223c0,106.7-86.808,193.508-193.508,193.508S62.492,369.278,62.492,262.578
											c0-4.541-3.68-8.223-8.223-8.223c-4.542,0-8.223,3.682-8.223,8.223c0,115.768,94.184,209.953,209.953,209.953
											s209.953-94.185,209.953-209.953C465.953,258.037,462.272,254.355,457.73,254.355z"/>
										</svg>
									</i>
								</div>
								<h2 class="service-heading">Graphic Designing</h2>
								<p class="service-desc slide-text-left">With our advertising solutions, you can create targeted adverts to reach different audience and meet required goals.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimony -->

		<div class="row testimony hidden">
			<div class="col-12 col-xs-12 col-sm-4 d-flex left">
				<div class="align-self-center">
					<h1 style="padding: 32px;">Customer <br> <span class="light">Stories</span></h1>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-8 d-flex right">
				<div class="align-self-center" style="width: 100%;">
					<span id="testimony-switcher" ripple ripple-dark>
					</span>
					<div class="_testimony-cards-holder" id="testimony">
						<div class="testimony-cards-holder">
							<div class="testimony-card" v-for="t in testimony">
								<div class="container-fluid">
									<div class="row" style="padding:16px 0px">
										<div class="col-2 xs-offset-1">
											<div class="customer-img">
											</div>
										</div>
										<div class="col-8">
											<p>
												<span class="customer-name">{{t.user}}</span><br>
												<span class="customer-company">{{t.company}}</span>
											</p>
										</div>
									</div>
									<div class="row">
										<div class="xs-col-10 col-11 xs-offset-1">
											<p class="customer-testimony">{{t.review}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact us -->

		<section class="row full-screen">
			<div class="col-lg-6 col-md-6 col-sm-12 contact-image-holder full-screen" style="padding:0; color: #fff;">
				<div class="row no-gutters overlay d-flex full-screen">
					<div class="align-self-center row">
						<div class="address col-12 row">
							<div class="icon col-1 offset-2">
								<i class="fas fa-map-marker-alt"></i>
							</div>
							<div class="col-8">
								<address style="color: #aaa">
									<p><b style="color: #fff">Address</b></br></br>
										#001 XYZ street,</br>
										XYZ Area,</br>
										Bangalore - 560083</br></br>
									</p>
								</address>
							</div>
						</div>
						<div class="phone col-12 row">
							<div class="icon col-1 offset-2">
								<i class="fas fa-phone"></i>
							</div>
							<div class="col-8">
								<p>Phone: </br></br>
									<a href="phone:+919090909090">+91 90 90 909090</a></br></br>
								 </p>
							</div>
						</div>
						<div class="email col-12 row">
							<div class="icon col-1 offset-2"><i class="far fa-envelope"></i></div>
							<div class="col-8">
								<p>Email: </br></br>
									<a href="mailto:singhey@gmail.com">singhey@gmail.com</a></br></br>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 contact-form-holder">
				<form class="contact-form">
					<h2>Contact Us</h2>
					<div class="form-row">
						<input type="text" name="name" placeholder="Name*" required>
						<span class="input-highlight"></span>
					</div>
					<div class="form-row">
						<input type="number" name="name" placeholder="Phone Number">
						<span class="input-highlight"></span>
					</div>
					<div class="form-row">
						<input type="email" name="name" placeholder="Email*" required>
						<span class="input-highlight"></span>
					</div>
					<div class="form-row">
						<textarea rows="5" placeholder="Message*" required></textarea>
						<span class="input-highlight"></span>
					</div>
					<button type="submit" class="submit-btn pointer">Submit</button>
				</form>
			</div>
		</section>

		<footer class="row">
			<div class="col-lg-6 col-md-4 col-sm-12 offset-lg-1 offset-lg-1">
				<img src="./assets/images/icon.png"/>
			</div>
			<div class="col-lg-5 col-md-7 col-sm-12">
				<p class="site-links">
					<a href="#">HOME</a>
					<a href="#">ABOUT</a>
					<a href="#">CONTACT</a>
					<a href="#">SERVICES</a>
				</p>
				<p class="social-icons">
					<a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
					<a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
					<a href="#" title="Behance"><i class="fab fa-behance"></i></a>
					<a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
					<a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
				</p>
			</div>
			<p class="copyright col-12">
				Copyright The Online monk 2017-2018
			</p>
			<style type="text/css">
				.animated {
				  transform: translateY(50%);
				  opacity: 0;
				  transition: transform .6s ease-out, opacity .6s linear;
				}

				.animated.full {
					opacity: 1;
				  transform: translateY(0%);
				}
			</style>
		</footer>
	</div>

	<script type="text/javascript" src="./assets/js/vue.js"></script>
	<script type="text/javascript" src="./assets/js/jquery.js"></script>
	<script type="text/javascript" src="./assets/js/ripple.js"></script>
	<script type="text/javascript" src="./assets/js/index.js"></script>
</body>
</html>